[2016-05-14 14:22] gauravdave01 opened #1 "Unable to initialize Fingerprint sensor"
I am using this library to connect R305 (ZFM60_BAK_V1.4). When I try to enroll a new finger, it gives this error:

[code]

Instead of `/dev/ttyUSB0`, I'm doing `/dev/ttyAMA0` and Baud rate is: 9600 (I've tried with 115200 and 57600). But nothing works.

[2016-05-17 17:39] bastianraschke commented on #1
Hey gauravdave01, you tried to exchange the data wires? Or used another computer, USB serial converter? Often this is the problem.

[2016-05-18 10:14] gauravdave01 commented on #1
Actually, I'm connecting the sensor with female-to-female jumper wires and then making a connection.

[2016-07-21 13:47] motxo88 opened #2 "Template count"
Hello bastian, i'm using your code and i have noticed, when i enroll multiple fingers it doesnt increment the position stored. It always stores at ID 1.

[2016-07-22 22:05] bastianraschke commented on #2
Hey motxo88, in which example you noticed that behavior?

[2016-07-22 22:40] motxo88 commented on #2
well, i tested out just now:

when i enrolled different fingers the first time using the example_enroll, it always stored the template at position 1.

then i used the example_delete, to delete the only template stored (position 1), and now when i enroll multiple fingers, it count's right and stores right, beggining to store at position 0 and so on.

but if i delete, for example the template stored

[2016-07-31 19:05] bastianraschke commented on #2
Hm thats strange, maybe the template count works not properbly on your sensor? So the output "Currently stored templates:" never changes after a new finger has been enrolled?

[2016-08-05 09:49] philippmeisberger commented on #2
This is because of lines 69 in example_enroll.py:
...
positionNumber = f.getTemplateCount()
...

When 3 templates are enrolled and the 2. is deleted the count is 2. When another template is enrolled this will be stored at index 2 and overwrite the 3. template from before deletion.

[2016-09-27 19:23] bastianraschke commented on #2
Will be fixed in #5.

[2016-09-27 19:23] #2 closed, assigned to nobody

[2016-11-20 23:18] Mehluko commented on #1
Did you find a way to fix this problem?

[2016-11-21 18:15] bastianraschke commented on #1
Hey Mehluko, this is a really common problem. Mostly it is caused by bad wires or bad USB serial converter or baudrate. Anything else its hard to guess.

[2016-11-24 05:34] gauravdave01 commented on #1
Hey @Mehluko,

Please find steps which I've executed for integration:

So, I haven't used USB connector to make connection, I directly connected Fingerprint device with Raspeberry Pi 2's (Model B) GPIO.

This is how I have connected fingerprint device:

[code]

I've tried these connection as well:
- Red wire to GPIO 2 [again 5V].
- Interchange RX connection with TX and vice versa.

I've made all t

[2017-02-28 04:43] rubiagatra opened #8 "Unable to debuild"
I can't debuild the src and it has output like this

` dpkg-buildpackage -rfakeroot -D -us -uc
dpkg-buildpackage: source package python-fingerprint
dpkg-buildpackage: source version 1.4
dpkg-buildpackage: source distribution stable
dpkg-buildpackage: source changed by Philipp Meisberger <team@pm-codeworks.de>
 dpkg-source --before-build src
dpkg-buildpackage: host architecture amd64
dpkg-checkbuil

[2017-02-28 19:29] philippmeisberger commented on #8
Which OS are you using?

[2017-03-01 01:48] rubiagatra commented on #8
I am using Ubuntu 16.04.2 64 bit . Does it works with ubuntu? and I tried to install to raspberry pi 3 and I got this error when use `debuild`

`Now signing changes and any dsc files...
 signfile python-fingerprint_1.4.dsc Philipp Meisberger <team@pm-codeworks.de>
gpg: directory '/home/pi/.gnupg' created
gpg: new configuration file '/home/pi/.gnupg/gpg.conf' created
gpg: WARNING: options in '/home

[2017-03-01 16:31] philippmeisberger commented on #8
Of course it works on Ubuntu. The second error you pasted is usual as debsign tries to sign the package with a the GPG key of the maintainer.

Nice to know that `dpkg-buildpackage -uc -us` is the correct command for building the package as non-maintainer. @bastianraschke should mention that in the readme ;)

[2017-03-02 02:41] rubiagatra commented on #8
Can I ask something @philippmeisberger ? Is this library works with PFM10 and R305 fingerprint module?

[2017-03-02 13:14] philippmeisberger commented on #8
I checked the specifications and yes the R305 fingerprint module should work but the PFM10 will not

[2017-03-04 02:31] rubiagatra commented on #1
hello @gauravdave01, when I tried with 52600 I had this output

`stty: invalid argument ‘52600’
Try 'stty --help' for more information.
`

[2017-03-06 04:30] rubiagatra commented on #8
Thank you @philippmeisberger it is works on R305. :smile:

[2017-03-09 17:29] tatedobs opened #9 ""fingerprint sensor could not be initialized! Exception message: the fingerprint sensor port "dev/ttyUSB0" was not found""
I am trying to set up the fingerprint sensor on a Raspberry Pi 3 and am getting this error when I try running any example file. I have tried changing the port to dev/ttyAMA0 but when I do this the python file never actually runs and I never get any feedback. I am kind of unsure about what this port actually means and which pins on the Raspberry Pi I should be plugging in to.

[2017-03-09 20:15] bastianraschke commented on #9
Please checkout the section "Update 7" on my blog post https://sicherheitskritisch.de/2014/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux/ for instructions to get the sensor working with the Raspberry Pi 2/3.

[2017-03-11 14:47] Rajashri1234 commented on #1
hi, I am getting same error
The fingerprint sensor could not be initialized!
Exception Message: The received packet do not begin with a valid header!

Did anyone find solution for this ?
I tried changing Tx & Rx connection. But it did not help
I am also making connections same as that of @gauravdave01 . Directly connecting Pi with sensor using female to male connection.

[2017-03-16 20:36] #9 closed, assigned to nobody

[2017-03-16 20:36] #8 closed, assigned to nobody

[2017-03-24 05:57] EsEm17 commented on #1
We have encountered this error:

Operation failed!
Exception message: storeTemplate() takes at least 2 arguments (1given)

Can you help us out? Pleease. Thank you.

[2017-03-24 06:18] EsEm17 commented on #2
We have encountered this error:
Operation failed!
Exception message: storeTemplate() takes at least 2 arguments (1given)
Can you help us out? Pleease. Thank you.

[2017-03-24 06:19] EsEm17 commented on #8
We have encountered this error:
Operation failed!
Exception message: storeTemplate() takes at least 2 arguments (1given)
Can you help us out? Pleease. Thank you.

[2017-03-24 06:54] gauravdave01 commented on #1
Hey @rubiagatra & @Rajashri1234,

Try running this command:

`@reboot sudo stty -F /dev/ttyAMA0 52600`

I think, this will change the default baudrate of **115200** to **52600**. Then try again with the connection I've describe before.

See, if that works.

[2017-03-24 08:11] EsEm17 commented on #1
We have encountered this error:
Operation failed!
Exception message: storeTemplate() takes at least 2 arguments (1given)
Can you help us out? Pleease. Thank you.

[2017-03-24 17:29] philippmeisberger commented on #1
@EsEm17 please do not post your problem neither on closed nor opened issues that have nothing to do with it. If you tried your best and nothing helped open a new issue instead. Thank you

[2017-03-27 22:46] EsEm17 commented on #1
@philippmeisberger I don't know how okay I'll find ways. Thank you. I'm so sorry.

[2017-03-27 23:07] EsEm17 opened #10 "storeTemplate() takes at least 2 arguments (1 given)"
Good day! We are using Fingerprint Sensor R305. We downloaded the library provided by @bastianraschke. It worked well at first. Later on we have encountered this error:

Operation failed!
Exception message: storeTemplate() takes at least 2 arguments (1 given)

This error would no longer make the sensor enrol a fingerprint. Please help us. How should it be fixed? What does this type of error indica

[2017-03-28 13:35] #10 closed, assigned to nobody

[2017-04-03 08:45] justinpham0210 opened #11 "Cannot debuild source file"
Hi Everyone,
I face a problem when debuild the source file as below
Now signing changes and any dsc files...
 signfile python-fingerprint_1.4.dsc Philipp Meisberger <team@pm-codeworks.de>
gpg: directory `/home/pi/.gnupg' created
gpg: new configuration file `/home/pi/.gnupg/gpg.conf' created
gpg: WARNING: options in `/home/pi/.gnupg/gpg.conf' are not yet active during this run
gpg: keyring `/home/p

[2017-04-03 08:59] philippmeisberger commented on #11
Hello @justinpham0210. This has already been discussed in #8 and is therefore a duplicate.

[2017-04-11 17:17] detti87 opened #13 "fehler in example_enroll"
In der example_enroll.py wird 2x storetemplate ausgeführt.
also auch wenn der Vergleich der zwei finger fehlschlägt

[2017-04-12 13:03] #13 closed, assigned to nobody

[2017-04-12 13:04] bastianraschke commented on #13
Danke für den Hinweis :+1:

[2017-04-15 23:10] ijm329 opened #17 "Importer cannot find module named utilities"
Hello, I just cloned this project today and followed all of the installation instructions and whatnot. However, when I try to run any of the examples I get the following error:

`Traceback (most recent call last):
  File "/usr/share/doc/python-fingerprint/examples/example_enroll.py", line 14, in <module>
    from pyfingerprint.pyfingerprint import PyFingerprint
  File "build/bdist.linux-armv6l/egg

[2017-04-16 10:21] philippmeisberger commented on #17
Hello @ijm329. Which Python version are you using? It seems that you are using Python3. PyFingerprint 1.4 only supports Python2. We are currently working on the next release which will support Python3.

[2017-04-16 12:56] #1 closed

[2017-04-16 12:57] #11 closed, assigned to philippmeisberger

[2017-04-16 16:41] philippmeisberger opened #19 "After using setAddress() sensor will ignore any command"
Internal cached address is not updated so old address is used in following commands. This provokes the sensor to ignore commands.

[2017-04-16 16:43] philippmeisberger opened #20 "After using setPassword() sensor will ignore any command"
Internal cached password is not updated so old password is used in following commands. This provokes the sensor to ignore commands.

[2017-04-16 17:04] bastianraschke commented on #17
Please test with newest Development @ijm329

[2017-04-16 17:07] bastianraschke commented on #19
Thanks. Can we fix it when we update the `__address` field?

[2017-04-16 17:09] bastianraschke commented on #20
Thanks. Can we fix it when we update the `__password` field and manual call `verifyPassword()`?

[2017-04-17 11:48] philippmeisberger commented on #20
Yes, but calling `verifyPassword()` is not necessary

[2017-04-17 11:49] philippmeisberger commented on #20
Shall I push change on Development branch?

[2017-04-20 10:34] philippmeisberger commented on #20
It is a possible bug, not an actual issue. I tried the following on my ZFM-20:

[code]

Sensor still accepts the old password and `readImage()` is executed like expected (light turns on). But other models of ZhianTec (e.g. ZFM-60) may behave different. For convience: Update the `__password` field.

[2017-04-20 10:35] philippmeisberger commented on #19
It is a possible bug, not an actual issue. I tried the following on my ZFM-20:

[code]

Sensor still accepts the old address and `readImage()` is executed like expected (light turns on). But other models of ZhianTec (e.g. ZFM-60) may behave different. For convience: Update the `__address` field.

[2017-04-22 21:37] #19 closed, assigned to philippmeisberger

[2017-04-22 21:37] #20 closed, assigned to philippmeisberger

[2017-04-23 13:56] bastianraschke commented on #17
Should be fixed. I close the issue cause of any reaction.

[2017-04-23 13:56] #17 closed, assigned to philippmeisberger

[2017-08-17 08:04] graaj opened #22 "Not working with ubuntu"
When I am running with this library on Ubuntu, I am getting 'The fingerprint sensor could not be initialized'. Have anyone faced this type of issue and find out the solution.

[2017-08-18 21:44] bastianraschke commented on #22
Please check out the FAQ on my article: https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/

[2017-10-31 00:08] gpavankv opened #23 "Is raspberry pi 3 supported?"
Hi all,

I'd like to know if raspberry pi 3 model is compatible with this library and the finger print sensor?

[2017-11-01 12:13] bastianraschke commented on #23
Yes it is, see https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/ Section "Update 7"

[2017-11-01 12:13] #23 closed, assigned to nobody

[2017-11-01 12:14] #22 closed, assigned to nobody

[2017-11-28 15:45] suchit111 opened #24 "Exception message: 'module' object hribute 'Serial'"
The fingerprint sensor could not be initialized!
Exception message: 'module' object has no attribute 'Serial'
Sir,
we have encountered this error. We are using R305 module and running it with pi 3. Please respond.
Thank you.

[2017-11-30 19:02] bastianraschke commented on #24
You need to install pySerial:
`$ sudo apt install python-serial `

[2017-12-14 16:35] ffleandro commented on #24
I have successfully used with both ZFM-100 and R303.
If you're using pip and some kind of virtual environment, install `pyserial` instead of `serial`.

[2017-12-14 16:37] ffleandro opened #25 "Works with R303"
I have successfully tested this library with no modifications using the scanner module [R303](https://www.dropbox.com/sh/orprmb3bgb6lqb6/AABJrv83ZyzCKCYFGlcjigi0a/User%20Manual%20for%20Fingerprint%20Module?dl=0&preview=R303+fingerprint+module+user+manual.pdf).

I guess it's compatible with the whole `R3xx` Scanner series.

[2017-12-14 20:00] bastianraschke commented on #25
Okay nice to know. Where did you buy the sensor?

[2017-12-14 20:00] #24 closed, assigned to nobody

[2017-12-16 16:18] ffleandro commented on #25
I imported it from AliExpress: https://www.aliexpress.com/item/R303-Capacitive-Fingerprint-Reader-Module-Sensor-Scanner/32620290283.html

[2017-12-16 16:18] #25 closed, assigned to nobody

[2018-01-06 13:10] wsslfnstr opened #26 "Unknown error 0x17"
Im getting this error when i loop it some times it gives this error the first time and sometime after 3 times etc. How to fix this?

Traceback (most recent call last):
  File "School.py", line 88, in <module>
    startApp()
  File "School.py", line 68, in startApp
    result = f.searchTemplate()
  File "/usr/lib/python2.7/dist-packages/pyfingerprint/pyfingerprint.py", line 956, in searchTemplate

[2018-01-06 13:22] philippmeisberger commented on #26
Which sensor are you using?

[2018-01-06 13:24] wsslfnstr commented on #26
Im using this one: FPM10A Fingerprint Reader Sensor Module
Its working bus sometimes crashes with the error code!

P.S. compliments for the fast replay

https://www.aliexpress.com/item/FPM10A-Fingerprint-Reader-Sensor-Module-Optical-Fingerprint-Fingerprint-Module-For-Arduino-Locks-Serial-Communication-Interface/32834946780.html?spm=a2g0s.9042311.0.0.tMZROE

[2018-01-06 15:41] philippmeisberger commented on #26
First I want to say I have no idea what is going wrong but I try to help you. The error seems not to be a ZhianTec error code as is not defined. To find out what the error code 0x17 stands for I tried to find a data sheet for the FPM10A and found this http://www.gemmarduino.net/PM1/00100-145/1307061015.pdf. Poorly the error code is not specified there. Maybe you have a datasheet? Please remind tha

[2018-01-06 16:17] wsslfnstr commented on #26
Im sorry i dont have a datasheet

[2018-01-20 23:03] brianmak3 commented on #1
Hello, i manged to solve this problem by first changing the baud rate to 57600 as for my pi using this command line **sudo stty -F /dev/ttyAMA0 57600** then i interchanged the wires and it worked.

[2018-01-30 23:11] phgachoud opened #30 "Template delete counts from 0 & templates indexes start with 1"
When consulting the templates count with getTemplateCount() the total amount is given. Should'nt the deleteTemplate() function delete the first template with index (parameter) 1 do instead of 0?

[2018-01-31 09:00] philippmeisberger commented on #30
No ;) The first template index is 0 not 1. `getTemplateCount()` returns the number of all templates like when using `len()` on lists. It is the same there.

[2018-01-31 19:22] #30 closed, assigned to nobody

[2018-01-31 19:23] bastianraschke commented on #26
I guess the sensor is not compatible, thus i close this issue.

[2018-01-31 19:23] #26 closed, assigned to nobody

[2018-02-19 11:51] torehc opened #33 "Implementation of uploadImage()"
Hi! First congratulations for the work.

I would like to know if you plan to implement the uploadImage() function.
I think it's very interesting to have 2 separate fingerprint readers who can share information.

Greetings.

[2018-02-19 16:30] philippmeisberger commented on #33
Hi @torehc . `uploadImage()` may be implemented in a future release but currently there is no need for it. As the method is too specially the priority is low. For uploading templates you could use `uploadCharacteristics()` instead.

[2018-02-19 16:39] torehc commented on #33
it's fine. Thanks for the quick response.

[2018-03-02 23:35] felipechp opened #34 "The sample scripts work only when you run them three times"
Hi bastianraschke,

I have the FPM10A Fingerprint Reader Sensor Module. When I run the password script the first time, the script waits for an answer after sending the password and it does not continue. The second execution of the script does not work either and I get the answer:

"The fingerprint sensor could not be initialized!
Exception message: The received packet do not begin with a valid hea

[2018-03-14 00:03] heshamhanafyh95 opened #35 "uploadimage function"
i need uploadimage function can anyone help me

[2018-03-14 08:50] philippmeisberger commented on #35
Duplicate of #33

[2018-03-19 09:11] moiseslodeiro commented on #33
Same here requesting that function... Is this too difficult to implement?

[2018-03-19 17:02] philippmeisberger commented on #33
I already implemented `uploadImage` for my Delphi based ZFM library and this was no fun: https://github.com/philippmeisberger/zfmsdk/blob/b154a730970a0de4ce9bca2ca37e0516ed2ca883/src/PMCW.Serial.ZFM.pas#L1772
I still want to port the code to Python but did not find time to do this yet. PR is appreciated.

As I already mentioned: this function is so specially. Why not using `uploadCharacteristics`

[2018-04-06 09:35] DavidAshraf commented on #34
Hi felipechp
Have you found a solution to this yet ?

[2018-04-11 08:10] wsslfnstr opened #36 "Compare BMP with fingerprint"
Hello,
I want to compare a downloaded fingerprint (.BMP) with a fingerprint that is scanned.
Is this posible?

 Im using a raspberry pi 3 and code:

`
import time
from pyfingerprint.pyfingerprint import PyFingerprint

try:
    f = PyFingerprint('/dev/ttyUSB0', 57600, 0xFFFFFFFF, 0x00000000)

    if (f.verifyPassword() == False):
        raise ValueError('The given fingerprint sensor password is wr

[2018-04-15 03:25] phgachoud commented on #35
can't you deal with characteristics strings instead??

[2018-04-15 03:36] phgachoud commented on #35
Did you take a look @ the documentation on page 8 point 4.1.1 https://github.com/adafruit/Adafruit-Fingerprint-Sensor-Library/blob/master/documentation/ZFM-20_Fingerprint_Module.pdf and p.16-17

[2018-04-15 15:59] philippmeisberger commented on #36
Hello,
this was already asked in #33

Why not using sensor database? Why not using characteristics instead of images?

[2018-05-23 11:01] VIkash2601 opened #39 "May I use this library with GT511C3 by Sparkfun."
Sir I'm using GT511C3 with Raspberry Pi3. I'm looking for the same functioning as you have mentioned in your library. So do I use the same codes or should I change something before using them?

Thanks in advance.

[2018-05-23 17:28] philippmeisberger commented on #39
Hi @VIkash2601 ,
regarding the datasheet (https://cdn.sparkfun.com/assets/learn_tutorials/7/2/3/GT-521F52_Programming_guide_V10_20161001.pdf) the GT511C3 is not compatible with PyFingerprint. There seems to be a separate SDK (https://cdn.sparkfun.com/assets/learn_tutorials/7/2/3/20171129-SDK_Demo_Ver1.9.zip).

[2018-05-31 07:41] prabhakaran4920 opened #40 "How to store fingerprint templates in database"
Hi,
R305 is only capable for storing 256 templates, I want to store more templates . So i planed to store fingerprint  templates in database. But I don't know how to do that... can anyone help me do that..

[2018-05-31 10:38] philippmeisberger commented on #40
Take a look at `example_enroll.py`: Let the sensor create the template for you https://github.com/bastianraschke/pyfingerprint/blob/0432a92251c1b88fae3e265a07c5c5c9cf76b438/src/files/examples/example_enroll.py#L69 but instead of storing it with `storeTemplate()` https://github.com/bastianraschke/pyfingerprint/blob/0432a92251c1b88fae3e265a07c5c5c9cf76b438/src/files/examples/example_enroll.py#L72 us

[2018-06-12 08:12] chimenk commented on #40
Hello,

I'm saving the downloaded characteristics into MySQL text column. When i try to upload those characteristics like this :

`f.uploadCharacteristics(0x02, chr)`

The chr variable is returned value from MySQL which contains the characteristics, this give me error "cannot convert argument to integer".  And when i cast the chr variable to integer then this error is shown "invalid literal for in

[2018-06-15 07:19] VIkash2601 commented on #39
So what should I do to use this project? Is there any library.
With Regards
Vikash Sharma
88299028689929172055

    On Wednesday, 23 May, 2018, 10:58:05 PM IST, Philipp Meisberger <notifications@github.com> wrote:

Hi @VIkash2601 ,
regarding the datasheet (https://cdn.sparkfun.com/assets/learn_tutorials/7/2/3/GT-521F52_Programming_guide_V10_20161001.pdf) the GT511C3 is not compatible with PyFinger

[2018-06-15 08:22] philippmeisberger commented on #39
As I already said, your sensor is not compatible with this library so you cannot use this project. There is an other library you could use: https://cdn.sparkfun.com/assets/learn_tutorials/7/2/3/20171129-SDK_Demo_Ver1.9.zip

[2018-06-19 04:44] daniel-blazquez opened #41 "Sensor not responding after setSystemParameter()"
Hi,
library was working great (thanks) but a bit slow for download image (7-8 seconds). I tried using setSystemParameter(4, 12) to increase the baud rate, and since then, the sensor is not longer responding. Any ideas? any way to reset the sensor to factory settings?
thanks Bastian!
Daniel
**UPDATE**: after about 90 minutes, sensor is back online at the set speed rate, and the image download is do

[2018-06-19 18:38] bastianraschke commented on #40
So it seems resolved - i close it.

[2018-06-19 18:38] #40 closed, assigned to nobody

[2018-06-19 18:38] #39 closed, assigned to nobody

[2018-06-19 18:39] bastianraschke commented on #35
Because of no responses, i close the issue now.

[2018-06-19 18:39] #35 closed, assigned to nobody

[2018-06-19 18:39] bastianraschke commented on #36
Because of no responses, i close the issue now.

[2018-06-19 18:39] #36 closed, assigned to nobody

[2018-06-19 18:41] bastianraschke commented on #34
Sorry i just have the tips listed here: https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/ FAQ Nr. 1

[2018-06-19 18:41] #34 closed, assigned to nobody

[2018-06-19 18:42] bastianraschke commented on #33
Because of no responses, i close the issue now.

[2018-06-19 18:42] #33 closed, assigned to nobody

[2018-06-25 18:54] bastianraschke commented on #41
Hey Daniel, i don't know an option to reset the sensor to factory settings. I never increased the sensors baudrate because i didn't need it.

Did you get an OK from the sensor after you did the "setSystemParameter" call?
1) You power disconnected the sensor after you set the parameter?
2) And you tried to connect to the sensor with exactly 115200 Bauds?

[2018-06-25 22:02] daniel-blazquez commented on #41
Thanks for getting back to me, Bastian. The sensor is working fine now at 115200 thru pyfingerprint. Regardless, I spent some time looking for ways to erase the flash of the FZ1035G and found nothing. I will post back if I do find anything! Cheers!

[2018-06-25 22:02] #41 closed, assigned to nobody

[2018-07-11 08:05] majidalaeinia opened #42 "Same fingerprint on different fingerprint sensors"
I am using R303 fingerprint sensor and it works properly with the library. **I have a database table for the fingerprints, and each fingerprint is stored in the database with the related fields.**

I want to use another R303 sensor, and not to `enroll` the old finger into the new sensor. I mean to enroll a fingerprint in one sensor and be able to find the exact fingerprint by the new sensor.

I ha

[2018-07-15 12:14] philippmeisberger commented on #42
Download characteristics from sensor 1 using `downloadCharacteristics()` and upload them to sensor 2 using `uploadCharacteristics()`. After that store the uploaded template using `storeTemplate()` on sensor 2. Not tested but could possibly work.

[2018-07-18 05:16] majidalaeinia commented on #42
I will share the results, as soon as I buy the new sensor and test those methods.

**UPDATE:**
It works. Thanks.
Here is an example to copy template position #0 to the template position #50, on the **current fingerprint sensor**:
[code]
NOTE:
I was not able to find a new R303 fingerprint sensor, even on online stores in Iran. So I used the current sensor to test the issue.

[2018-07-26 12:58] bose0003 opened #43 "Unable to communicate using Raspberry Pi UART"
Hello,
I have recently started working on R307 fingerprint module and have been trying to connect it to my Raspberry Pi 3 through the UART (not USB). I am not using any TTL for now.
I am able to connect the Pi and the sensor using UART but am not able to have may meaningful communication. Every time I send any command to execute, I get:

[code]

I do not know what might be the issue and would real

[2018-07-28 08:59] philippmeisberger commented on #43
Please ensure you have connected the sensor correctly and checkout the section "Update 7" at https://sicherheitskritisch.de/2014/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux/ for instructions to get the sensor working with the Raspberry Pi 3.

[2018-07-28 11:48] bose0003 commented on #43
Thanks mate. I was finally able to work it out and the sensor is now communicating with the Pi successfully. I am now trying to resolve a "invalid header" error, but we can close this as resolved. Thanks again.

[2018-07-28 11:48] #43 closed, assigned to nobody

[2018-07-30 05:33] Ashwinigunjal commented on #1
I am using  serial /dev/ttyS0 for communincation. it send packet successfully. but return invalid header. why this happen.

[2018-07-30 11:12] #42 closed, assigned to nobody

[2018-09-12 01:06] roman-podorvanov opened #44 "R308 sensor not working properly (Exception message: Communication error)"
Every given example fails at this line:
[code]
getStorageCapacity calls self.getSystemParameters()[2] which raises exception at line 558

Everything else I've tested (f.getTemplateIndex(page), f.readImage(), f.createTemplate(), f.compareCharacteristics()) works fine. So I think the only problem is getSystemParameters method.

My fingerprint sensor:
https://aliexpress.com/item/R308-Biometric-Finger

[2018-09-12 07:09] philippmeisberger commented on #44
I checked the datasheet: The R308 does not support FINGERPRINT_GETSYSTEMPARAMETERS message. That is the reason `getSystemParameters()` does not work.

[2018-09-12 09:00] roman-podorvanov commented on #44
Yeah I checked datasheets too and did not find any SYSTEMPARAMETERS or 0x0F related stuff for either of these sensors (r303, r305 etc) however they works just fine. I'm sure there is some way to get those parameters for r308 too but I don't have any experience neither with python nor any other hardware related stuff so I don't know what to look for. Maybe you can suggest me to try something?

[2018-09-12 17:12] philippmeisberger commented on #44
Look at the last two pages in every datasheet ;) There is a list of all supported instructions. `ReadSysPara` (instruction 0x0F) is supported by R301T, R302, R303, R305, R306, R307 and R551. Poorly R308 seems not to support this instruction.

[2018-09-12 19:09] roman-podorvanov commented on #44
You're right. I think I don't really need getSystemParameters method anyway. I've just hardcoded some values inside pyfingerprint.py:

 *line 1209 (getMaxPacketSize)*
[code]

*line 1228 (getStorageCapacity)*
[code]

Now I can succesfully run enroll, search and delete examples. Gues we can close this issue. Maybe you should make some notes in wiki pages.

Thank you, @philippmeisberger and @bastianr

[2018-10-08 12:04] JuggernautPanda opened #46 "R307 The fingerprint sensor could not be initialized! Exception message: The received packet do not begin with a valid header!"
The fingerprint sensor could not be initialized!
Exception message: The received packet do not begin with a valid header!

Raspbian scratch
Rasp pi 3 b+ and b
Exchanging the pins also does not work

[2018-10-08 14:48] philippmeisberger commented on #46
Please take a look at #1

[2018-10-11 05:42] JuggernautPanda commented on #46
Hello.  I have found that the hardware had an issue with the jumper cables that were being used. Good quality jumper cables have solved the issue.

[2018-11-09 11:24] hackerman13-0 opened #47 "Fingerprint Recognition algorithm design"
Hi i just wanted to know how i can design my own fingerprint recognition algorithm and what important things i should take into account while doing so. It would be great if you could help me out. Thanks in advance :D

[2018-11-09 13:15] philippmeisberger commented on #47
Hello,
this library just uses the fingerprint recognition implementation of the fingerprint sensor. We have only basically understanding of fingerprint image processing. To see a real fingerprint processing algorithm take a look at https://www.nist.gov/services-resources/software/nist-biometric-image-software-nbis

[2018-11-10 16:26] TehseenHasan opened #48 "pyfingerprint on Windows setup Issue"
I was using pyfingerprint on Raspberry pi 3. It was great... working nice... Now I want to use same library on **Windows 10** (using Visual Studio or IDLE etc)... I have changes Port name from **/dev/ttyUSB0** to **COM5** as in Windows serial port name are in COM format.... But issue is that when I run the script (for example _example_downloadimage.py_) it show errors...
1st error is that : `from

[2018-11-11 21:14] philippmeisberger commented on #48
You are right! I created a fix for that.

[2018-11-12 05:11] TehseenHasan commented on #48
Thanks a lot ...

[2018-11-12 05:34] TehseenHasan commented on #48
All the example files are now working...I mainly working on

 file ... Now It is working.. But I have to remove pyfingerprint from :

line and also comment out

 statement because it give some sort of exception errors... but after removing them... code is perfectly working...
New modified and working file is following:

[code]

**I want to download and save fingerprint Image in a folder. But getti

[2018-11-12 09:16] philippmeisberger commented on #48
will only work if you installed pyfingerprint package. To install it open command prompt in subfolder `src` and run `python setup.py install`.

I cannot reproduce the "image out of range" exception. Which Python version do you use? I use Python 3.7.1

[2018-11-12 09:42] TehseenHasan commented on #48
I'm using Python 2.7

[2018-11-12 09:43] TehseenHasan commented on #48
So what I should I do to avoid this "image out of range" exception???

[2018-11-12 10:14] philippmeisberger commented on #48
Never seen this exception. Ensure installing the package like I described. Revert all changes to the sample and try again. If this does not help try Python 3.

[2018-11-12 10:23] TehseenHasan commented on #48
I have installed using command Prompt as you described. But
`from pyfingerprint.pyfingerprint import PyFingerprint` **`'No module named pyfingerprint'`** error again there...

**`This is Command Prompt output:`**
[code]

[2018-11-12 10:34] TehseenHasan commented on #48
`'No module named pyfingerprint'` error is not an issue at this time... because it can be avoided after removing first `pyfingerprint ` from
`from pyfingerprint.pyfingerprint import PyFingerprint`
And code works without any error... Main issue is getting image from sensor... the **`"image out of range"`**  error...!!! 🙁

[2018-11-12 10:36] philippmeisberger commented on #48
Did you install `pillow` by using `pip install pillow`?

[2018-11-12 11:27] TehseenHasan commented on #48
Yes It was already installed.. command prompt shows this:

![pillow](https://user-images.githubusercontent.com/25352528/48344774-da329b80-e697-11e8-8918-cef6417d3790.JPG)

[2018-11-12 11:42] philippmeisberger commented on #48
Replace `exit(1)` by `raise e` inside last `except` block and paste the stack here

[2018-11-12 18:39] TehseenHasan commented on #48
In `example_downloadimage.py`  ,I replaced `exit(1)` with `raise e` .... Its output is like this:

![imageindex](https://user-images.githubusercontent.com/25352528/48368520-c6a62580-e6d5-11e8-8fab-135d0035e1f3.JPG)

Image saves announcement and image index error are happening at same time...!!!  A `fingerprint.bmp`  file is created  on Desktop... But it is **corrupted** file:... And it looks like

[2018-11-12 19:11] #47 closed, assigned to nobody

[2018-11-12 19:11] #46 closed, assigned to nobody

[2018-11-12 19:12] #44 closed, assigned to nobody

[2018-11-13 08:38] philippmeisberger commented on #48
Which sensor do you use?

[2018-11-13 08:52] TehseenHasan commented on #48
Currently using **R305** Fingerprint Sensor... I was using same sensor with same library on Raspberry Pi 3 and working perfectly...  I have used **R301T** as well **FPM10A** Sensors with same setup on Raspberry Pi  3 using Python 2.7  and it was working perfect ....
![fpm10a](https://user-images.githubusercontent.com/25352528/48401468-12df7d00-e74b-11e8-80ee-bf9c086672ac.JPG)
![r305-fingerprint-80

[2018-11-13 10:03] TehseenHasan commented on #48
Now I'm checking **R301T** sensor on Windows using Visual Studio with exactly same setup same code  and this sensor **is working without errors**.  It is successfully saving fingerprint image on the given destination... While exactly same code is giving errors for R305 sensor...

This is the fingerprint.bmp generated by R301T sensor using same pyfingerprint code:
![fingerprint](https://user-images

[2018-11-13 17:47] philippmeisberger commented on #48
Sounds great that R301T works. I am wondering why R305 with same library version on Linux works but not on Windows. Could you please verify this again on Linux?

[2018-11-13 18:17] philippmeisberger commented on #48
Please also test changing image dimensions in following line to e.g. `(500, 500)`
https://github.com/bastianraschke/pyfingerprint/blob/a9356ee80cb7e04278e0a64186fc7c807de73242/src/files/pyfingerprint/pyfingerprint.py#L724

[2018-11-13 19:41] TehseenHasan commented on #48
Yes I tried this too...The results for R301T and R305 are as follows _**(On Windows 10 as well as Raspberry Pi 3 (Raspbian OS) Using Python 2.7 on both)**_ :

### **Test Results for R301T Sensor:**
I changed those resolution parameters from `(256, 288)` up to `(2500, 2500)` different values... even `(10000, 10000)` ... each time sensor gives **correct image** with no error.... But for values **les

[2018-11-13 21:00] philippmeisberger commented on #48
Thank you for your effort! Since the original issue with Windows seems to be fixed I vote for closing this issue and open a new one regarding that `downloadImage()` does not work correctly with R305.

[2018-11-14 17:53] TehseenHasan commented on #48
Okay what should do now.... Do you open new issue or I should open new issue ...?

[2018-11-14 17:56] philippmeisberger commented on #48
Feel free to open a new issue

[2018-11-14 18:08] TehseenHasan opened #50 "downloadImage() does not work correctly with R305"
From this Issue #48 we figured out that **`downloadImage()`** function is giving wrong and c**orrupted image** of scanned finger for R305 Fingerprint Sensor... Other sensor like R301T is giving correct fingerprint image successfully without errors or data corruption... This is a sample image generated by **R305** sensor using  `example_downloadimage.py` example script:

![fingerprint0](https://use

[2018-11-14 18:33] philippmeisberger commented on #50
It seems that R305 sends an image buffer that differs from ZFM models. I guess that the image resolution should be calculated dynamically. I tried to implement this in a new `downloadImage()` function. It still works on my ZFM-20. Since I got no R305 could you please try it and report if it works:

[code]

Just replace the existing `downloadImage()` in your `pyfingerprint.py`.

[2018-11-14 18:37] #48 closed, assigned to philippmeisberger

[2018-11-14 18:49] TehseenHasan commented on #50
I tried this new code on R305...  This time there is no `image index out of range` error... It generates corrupted fingerprint image as before....but change is in the **resolution** of generated image. This time this code make image of resolution : **64x1152 pixels** ... This is the image generated using R305 sensor:
![fingerprint](https://user-images.githubusercontent.com/25352528/48504789-6f37bf

[2018-11-14 20:29] philippmeisberger commented on #50
Ok, so the sensor seems to provide images in resolution **1024x1152** instead of 256x288 like ZFM modules do it...

Could you try the [SFG Demo](http://www.adafruit.com/datasheets/SFGDemoV2.0.rar) if downloading image works with this?

[2018-11-14 20:35] TehseenHasan commented on #50
Yes SFG Demo successfully capturing and saving image...
![fingerprint5](https://user-images.githubusercontent.com/25352528/48510740-8f22af00-e876-11e8-8661-6bd4d3365717.jpg)

This is captured and saved image:
![finger](https://user-images.githubusercontent.com/25352528/48510892-f6d8fa00-e876-11e8-8ee5-87c824078ff1.jpg)

Its resolution is **`(256, 288) pixels`**

[2018-11-17 06:26] TehseenHasan commented on #50
Any Solution?

[2018-11-18 19:24] philippmeisberger commented on #50
Not currently... I will come back to that as soon as I have time. Got a lot to do at the moment -.- sry

[2018-11-22 09:52] TehseenHasan commented on #50
Wait a sec....!!!  Today I just tried again ... R305 sensor **now working** on both Windows and Raspberry Pi... image downloading **without** `image index out of range` error... How is this possible that **same sensor and same code** was not working before but today it is working perfectly... !!! 🤔

[2018-11-23 22:09] philippmeisberger commented on #50
Sounds great! But strange... Did you revert all your local changes?

[2018-11-24 08:35] TehseenHasan commented on #50
No I did not change anything... I just tried after few days... I don't know how but now It is working...

[2018-12-17 11:47] sand007man opened #52 ""The received packet do not begin with a valid header!" using Raspberry pi zero w with R307 fingerprint Sensor"
The same code works properly with Raspberry pi 3 but its throws invalid header exception with raspberry pi zero ....is there any changes i need to make ??
I already made required changes in
1)cmdline.txt
2)config.txt
and Serial0 is using TTYAMAO Really need help here

[2018-12-23 19:54] Besomi996 commented on #1
hello i tried the things that you proposed in here non has worked i thought maybe because i have FS-01 fingerprint sensor and i am using dev/ttyUSB0 please help me i cant make it work it keeps giving me the same error
The fingerprint sensor could not initialized
and i have followed all of the steps proposed here

[2018-12-24 04:34] sand007man commented on #46
Hi i am getting the same error when i run the exampledowImage but in Raspberry pi zero !! the same code was working properly in Raspberry pi 3 ....is it a Hardware issue or Raspberry pi zero cant handle it because i am able to enroll it but downloadImage not working?

[2018-12-24 13:46] philippmeisberger commented on #1
Never heard about FS-01. Can you provide a datasheet? Probably the FS-01 is not compatible with PyFingerprint.

[2018-12-24 13:48] philippmeisberger commented on #46
You already opened #52 for this

[2018-12-24 13:50] philippmeisberger commented on #52
I am sorry, but we have no Raspberry Pi Zero for investigation...

[2018-12-24 17:04] Besomi996 commented on #1
@philippmeisberger  yes of course you can find the manual here:
http://www.fingergo.cn/uploads/soft/FS-01_Fingerprint_Sensor_Manual_Download.pdf
I thought it is the problem but if doesnt work for these libraries then how does it work ?

[2018-12-25 15:47] philippmeisberger commented on #1
I checked the datasheet: I am sorry but this library does not support the FS-01

[2018-12-25 18:20] Besomi996 commented on #1
@philippmeisberger I got the r308 and it still gives me the same error i cant find a way to fix it. If u can help me because i read this issue all of it and it didnt work

[2018-12-26 02:08] ardawan opened #53 "ZFM-60 | Exception message: The received packet do not begin with a valid header!"
I'm using ZFM-60 and RPI 3B+. i followed all the README file but when i run the enroll command, i get error. I've tried both UART pins(BCM14, BCM15) and USB connection for the sensor.

[code]
Why this is happening and how can i fix this?
Cannot use the sensor via UART instead of USB?

[2018-12-26 04:27] sand007man commented on #53
for Uart follow this method
https://www.youtube.com/watch?v=Cs2r5Z1R1H8

[2018-12-26 05:22] ardawan commented on #53
this is not English. i don't understand anything...

[2018-12-26 05:25] sand007man commented on #53
Command :

Step-1  sudo nano /boot/config.txt

enable_uart=1

sudo reboot

Step-2 sudo systemctl stop serial-getty@ttyS0.service

Step-3 sudo systemctl disable serial-getty@ttyS0.service

Step-4 sudo nano /boot/cmdline.txt

Remove : console=serial0,115200

Step-5 sudo nano /boot/config.txt

dtoverlay=pi3-miniuart-bt

sudo reboot

[2018-12-26 05:39] ardawan commented on #53
Dose Not Work !

[2018-12-26 05:51] sand007man commented on #53
After that in your code change ttyUSB0 to ttyAMA0......or to check just run "sudo dmesg | grep tty" you will come to know which serial port is active

[2018-12-26 05:56] ardawan commented on #53
[code]

and when i run the example still checking the ttyUSB0
[code]

[2018-12-26 06:02] sand007man commented on #53
Ok first try with usb ...once you connect usb run "sudo dmesg | grep tty" ...if you are not able to see USB0 means drivers are not installed for it....if thats the case then run "sudo apt install python-serial" and again check for the serial port !!

[2018-12-26 06:13] ardawan commented on #53
I've installed python-serial already on my machine.
Still i'm getting the same error
[code]
[code]

[2018-12-26 06:25] sand007man commented on #53
try this link and follow these steps because this worked for me
https://sicherheitskritisch.de/2014/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux/

[2018-12-26 06:39] sand007man commented on #52
can this error help you give a hint where exactly the problem is
"Currently used templates: 3/1000
Waiting for finger...
Downloading image (this take a while)...
Operation failed!
Exception message: The received packet is corrupted (the checksum is wrong)!"

[2018-12-26 06:55] ardawan commented on #53
im used the english version of this article. that's what i get after following the article!!

[2018-12-26 10:39] philippmeisberger commented on #52
This looks good in general. The connection seems to be working ;) But the corrupted packet exception is really strange...

[2018-12-26 11:52] sand007man commented on #52
do you think my Serial is not working properly because of that the packets I am receiving is not complete or I am missing a few packets ...that's why this condition

 if ( receivedChecksum != packetChecksum ):
                    raise Exception('The received packet is corrupted (the checksum is wrong)!')
is getting satisfied??
I am using a micro -usb to USB convertor to connect my fingerprint.

[2018-12-27 16:07] philippmeisberger commented on #52
I do not know... Hard to guess.

You are not using an **USB-TTL** converter right? Is downloadImage() the only method which does not work? Does downloadCharacteristics() work?

[2018-12-27 16:22] philippmeisberger commented on #1
Please take a look at #44 and the FAQ (https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/)

[2018-12-28 17:48] #50 closed, assigned to nobody

[2018-12-28 17:56] TehseenHasan commented on #52
I also got this error message when I set my R305 fingerprint sensor baudrate to 960000 bps... Then I changed baudrate to again 115200 or 57600 bps then that error gone.... then I set baudrate again to 960000 bps and just changed my USB to Serial converter (ch340) then again this error gone...

[2018-12-28 17:59] TehseenHasan commented on #52
I also encountered this **Exception message: The received packet is corrupted (the checksum is wrong)!"** error while downloading image using **downloadImage()** at 960000 bps baudrate while working perfectly at 115200 or 57600 bps baudrate .... so maybe there is some logical issue in the code or maybe some communication related amendments in the code are required...

[2018-12-28 19:01] TehseenHasan opened #54 "SerialException: could not open port 'COM3' WindowsError(5, 'Access is denied')"
I am using **two** R305 fingerprint sensors with this pyFingerprint library (Python 2.7) on Windows PC using CH340 USB-to-Serial Converters. I am using this library to just download fingerprint image from sensor to PC. I have set baudrate of sensors to 960000 bps and its working fine. Sensors are working and giving me the fingerprint images fast and correctly... But sometimes suddenly one of my se

[2018-12-28 19:27] anubhaw2091 opened #55 "Optical Finger Print reader R307 - The received packet do not begin with a valid header!"
Am using R307 finger print reader but am not able to get it up and running.

[code]

I have read almost all the posts and am not able to find any solution. I ran the same R307 module with the Arduino and used the same jumper cables, so I can say that hardware and wires are not at fault.

Followed all the parts of this [tutorial](https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-ra

[2018-12-29 04:35] sand007man commented on #52
@TehseenHasan @philippmeisberger  Hi my issue got sorted when I changed my Raspberry pi zero w may be the one I was running code on had some hardware defect.But my fingerprint doesnt work on any other baud rate apart from 57600!! Strange !!!..

[2018-12-29 04:39] sand007man commented on #55
Are your using ttyUSB0 or ttyAMA0???? if its USB-serial then which one are you using??

[2018-12-29 05:04] TehseenHasan commented on #52
R307 should support standard baudrates in the form of 9600*N where N<=12 as described in datasheet. I think its your Serial interface of Raspberry pi that is limiting the baudrate... try using USB to Serial Converter it should work on many baudrates. BTW baudrate is not a critical point if you are using your sensor to  just get matched index of a person and other normal opertions like enrolling, d

[2018-12-29 06:04] anubhaw2091 commented on #55
Am using ttyUSB0.

[2018-12-29 10:31] philippmeisberger commented on #52
BTW: The maximum supported baudrate of the sensor is 9600*12=115200. Anything beyond this will not work ;)

[2018-12-29 10:38] philippmeisberger commented on #54
I think that this is not a problem of PyFingerprint but rather a driver or hardware problem

[2018-12-29 10:46] anubhaw2091 commented on #53
Did anyone get any solution for this? Just bumping this up?

[2018-12-29 14:25] TehseenHasan commented on #54
Issue **solved**... I just **changed the USB extension cable** that I used between USB-to-Serial converter and PC... So it was hardware related issue.... Thanks...!

[2018-12-29 14:25] #54 closed, assigned to nobody

[2018-12-31 01:19] ardawan commented on #53
apparently no one supports this lib anymore...

[2018-12-31 06:33] varun9597 opened #56 "R307 Fingerprint Sensor Error - The received packet do not begin with a valid header!"
I have connected R307 to Raspberry Pi using Serial to USB Adapter. My connections are as follows:
Red Wire (5V)-----> +5V on Serial to USB
Black Wire (GND)-----> GND on Serial to USB
Yellow Wire (TXD) -----> TXD on Serial to USB
White Wire (RXD) ------> RXD on Serial to USB

Here is the code that i am using-
[test.txt](https://github.com/bastianraschke/pyfingerprint/files/2717804/test.txt)

I am g

[2018-12-31 09:03] philippmeisberger commented on #53
@ardawan Please carefully read https://sicherheitskritisch.de/2014/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux/

There must be something wrong with your hardware... Take a look at this line:

My machine shows this:

Please ensure you got everything connected as described in #1

Of course we support this library but sometimes we have vacation ;)

[2018-12-31 09:06] philippmeisberger commented on #56
Possible duplicate. Please see #55, #52 and #1

[2018-12-31 11:00] #56 closed, assigned to nobody

[2019-01-01 10:15] sand007man commented on #52
@TehseenHasan Hi i am using Tx and Rx pin directly  for communication between fingerprint sensor and Raspberry pi zero w ....i am not using any Serial -to ttl Convertor in between yet i am not able to work with any other baudrate apart from 57600 ...if i change the baud rate then it throws packet exceptions

[2019-01-04 07:54] #53 closed, assigned to nobody

[2019-01-04 12:29] #55 closed, assigned to nobody

[2019-01-05 04:17] sand007man commented on #52
@TehseenHasan @philippmeisberger hi if I want to change the baud rate at which the fingerprint Download the images How to change it ?? I have already tried " stty -F /dev/ttyAMA0 115200 " and after that if i change the baud rate in code ...it again throws "Invalid header " error ....and it works fine with 57600 baud rate ...i am using raspberry pi zero w .

[2019-01-05 09:40] philippmeisberger commented on #52
You will need to change the sensor baudrate using `setSystemParameter(4, N)` where N is in between 1 and 12. After that use the new baudrate (9600 * N) in your code.

[2019-01-05 12:51] abdullahsurati commented on #52
Offtopic question - How to connect R307 directly to the Pi without using the USB to TTL Convertor? Do I have to short the two pins on the R307 that says 3.3V? I am refferring to this - https://www.sunrom.com/media/content/1720/pinouts.jpg
Currently I am using Pins 1, 2, 3 and 4 of the R307 to work with the USB-TTL but I want to eliminate it.

[2019-01-07 01:45] ardawan opened #57 "example_downloadimage.py doesn't work at all"
If that means download to the computer, why should ask for fingerprint scanning again, why can't use existing fingerprint from its db?

im looking for a way to extract the fingerprint data to my RPI, and import fingerprints to my Sensor zfm-60. but seems i can't make it with this library, can you assist, pls?

[code]

[2019-01-07 05:18] sand007man commented on #52
@philippmeisberger Thank you its working great but is there someway i can speed up the downloadImage process ...with baud rate set to 115200 it takes 20 seconds to download the image ...i am using raspberry pi zero w!!

[2019-01-07 05:33] sand007man commented on #52
@abdullahsurati If you short that pin as per the document then pin one will become your 3.3v supply and rest will remain the same ..but if you are using 5v then you have to use voltage divider on Tx pin to 3.3v and connect fingerprint to raspberry pi.

To connect fingerprint directly to Serial port of raspberry pi follow this step:
Step-1  sudo nano /boot/config.txt

enable_uart=1

sudo reboot

St

[2019-01-07 05:42] sand007man commented on #52
and then in code change "dev/ttyUSB0" to "dev/ttyAMA0"

[2019-01-07 09:07] philippmeisberger commented on #52
@sand007man There is no way I know to speed up `downloadImage()`. But there is `downloadCharacteristics()` which is really fast. Why not using this?

[2019-01-07 09:19] TehseenHasan commented on #52
@philippmeisberger @abdullahsurati @sand007man
Image Download speed is what I was also concerned about... It takes a lot of time to transfer scanned fingerprint image from sensor to PC or Raspberry pi. Image has about 70 kb size while baudrate is 115200 bits per second. That's why image transfer process is too slow.
There are two solutions to increase the download speed of image (**I tested these

[2019-01-07 10:33] sand007man commented on #52
@TehseenHasan hi i followed your method and change the value from 12 to 100 and again rebuild the packages and in the code also i change the set parameter to 100 and then baud rate to 960000 but i was getting this exception
"The fingerprint sensor could not be initialized!
Exception message: The given baudrate is invalid!
"
and when i tired to change baud rate back to 115200 its not working anymor

[2019-01-07 10:36] philippmeisberger commented on #52
@TehseenHasan Thank you providing your lessons learned. Can this library be used for direct USB connection? Why using another library? BTW: I also developed an SDK: https://github.com/philippmeisberger/zfmsdk

[2019-01-07 10:44] sand007man commented on #52
@philippmeisberger is  downloadCharacteristics() is same like template ?? because in database i am storing images and comparing both images. so i am kind of forced to use image !!

[2019-01-07 11:11] TehseenHasan commented on #52
@sand007man **`downloadCharacteristics()`** is the function to download **`template`**. You can not use templates to compare them in external code. You can only compare templates **within sensor** because these templates are **Proprietary Templates** means these templates can only be encoded and decoded inside sensor firmware and only manufacturer of the sensor knows how to encode and decode these

[2019-01-07 11:17] TehseenHasan commented on #52
Yes these SDK can be used for both Serial (UART) as well as direct USB connection. You do not need **USB to Serial Converter** or **UART interface (Tx, Rx)** if you use direct USB connection by using (5V, D+, D-, GND) pins.
USB to serial converter will be used only if you have to use UART (Tx, Rx) interface.
Both interfaces/protocols have their own pros and cons. But for scanned fingerprint Image

[2019-01-07 11:17] sand007man commented on #52
@TehseenHasan and my fingerprint sensor is not working after i did the changes mentioned by you...by setting baudrate 960000 and making required changes i am gettting ""The fingerprint sensor could not be initialized!
Exception message: The given baudrate is invalid! !! and when i tried to change my baudrate back to 115200 by again changing setbaudrate parameter ...i am getting invalid header exce

[2019-01-07 11:24] TehseenHasan commented on #52
Also change the **line number 137** in **`pyfingerprint.py`** file:
**`if ( baudRate < 9600 or baudRate > 115200 or baudRate % 9600 != 0 ):`**
to
**`if ( baudRate < 9600 or baudRate > 960000 or baudRate % 9600 != 0 ):`**

For testing purpose use a **USB to Serial Converter** and then test different baudrates.... and attach USB to serial converter to USB port of your Raspberry pi and use "dev/ttyUS

[2019-01-07 11:46] sand007man commented on #52
![screenshot from 2019-01-07 17-16-13](https://user-images.githubusercontent.com/25499963/50766642-02a5d300-12a0-11e9-8896-91cc163810cb.png)

[2019-01-07 11:47] sand007man commented on #52
after making changes in the src files (pyfingerprint.py) do i have to build the whole package again??

[2019-01-07 17:47] TehseenHasan commented on #52
Change these lines in your code and write like following:
[code]
To change the baudrate of your sensor change port and baudrate value to your current values. and then Run the code if you get **True** from **`print val`** that means new baudrate is set successfully if get **False** then not.
After you successfully set the baudrate then remove/comment these lines:
[code]
You just have to call `setSy

[2019-01-07 17:50] TehseenHasan commented on #52
I do not know much about Linux... but you should rebuild maybe it is compulsory. Just do as it will not cost you. 🙂

[2019-01-08 17:08] philippmeisberger commented on #57
`downloadImage()` downloads the fingerprint image from sensor image buffer. Since the sensor stores only characteristics internally which are no image data you must use `readImage()` before calling `downloadImage()`.

I already saw this error in #50 ... I also got an ZFM-60 but cannot reproduce this on my machine (not tested on RPi)

[2019-01-10 07:43] ardawan commented on #57
which sensor you have tested and works perfectly?
If the ZFM-60 got issue, i need to choose another sensor for my project. There is no time to waste on it.

[2019-01-10 08:08] ardawan commented on #57
and that doesn't work at all in using ZFM-60 and this library. there is another library i could manage to extract the bitmap file data, but here no chance! as i mentioned the error.

some how, alternatively i get additional error messages! not sure what's that for
[code]

[2019-01-10 08:41] sand007man commented on #52
@TehseenHasan after making the changes and running the code i get this exception
Traceback (most recent call last):
  File "example_test.py", line 21, in <module>
    if ( f.verifyPassword() == False ):
  File "/usr/lib/python2.7/dist-packages/pyfingerprint/pyfingerprint.py", line 351, in verifyPassword
    receivedPacket = self.__readPacket()
  File "/usr/lib/python2.7/dist-packages/pyfingerprint

[2019-01-10 20:26] philippmeisberger commented on #57
All sensors mentioned in readme are supported (including ZFM-60). I check the download image sample tomorrow on my ZFM-60 and keep you briefed. Do you use USB-TTL converter or plain USB connection?

[2019-01-11 01:24] ardawan commented on #57
im using https://www.amazon.com/JANSANE-PL2303TA-Serial-Console-Raspberry/dp/B07D9R5JFK?psc=1&SubscriptionId=AKIAILSHYYTFIVPWUY6Q&tag=duckduckgo-ffsb-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B07D9R5JFK

I just tried to connect the ZFM-60 to my PC and still getting the same error result as RPI ...

[2019-01-11 07:06] sand007man commented on #52
@TehseenHasan Hi I created a fresh os and repeated all the steps and now I am able to set baud rate but the difference in speed is not that much it use to take 20.48 seconds before and now after setting it to 960000 I am getting 20.40 !! am i suppose to change something else in raspberry pi side.I tried "stty -F /dev/ttyAMA0 960000" but it's showing invalid argument. I am using Raspberry Pi zero w

[2019-01-11 07:13] TehseenHasan commented on #52
**As I said earlier**, please use a **USB to Serial Converter** (like CH340 , FT232 or CP2102 , **I used CH340**). And first of all, perform all experimentation by using this USB to Serial converter.... if that works then try to use Raspberry pi GPIOs Serial pins (ttyAMA0). But first try using ttyUSB0 with USB to Serial Converter...

[2019-01-11 10:13] sand007man commented on #52
@TehseenHasan Thank you for all the help and guidance. I am using FT232 USB to serial converter and when I connect it to my raspberry pi Zero board I was getting following error only for downloadimage code
"Currently used templates: 1/1000
Waiting for finger...
Downloading image (this take a while)...
Operation failed!
Exception message: The received packet is corrupted (the checksum is wrong)!
"

[2019-01-11 13:19] TehseenHasan commented on #52
I also get exactly same error using a different CH340 module and also on FT232:
[code]
I noticed that **at higher baudrates** different USB to Serial converters behaves unexpected... I tried 960000 baudrate using a CH340 USB to Serial converter and it worked, **but another same model** (CH340) module did not work. Means that sensor is connected and initialized successfully **at any** baudrate and

[2019-01-14 09:18] sand007man commented on #52
@TehseenHasan this is out of topic but i did manage to speed up image download process by 3 seconds in raspberry pi zero by overclocking the raspberry pi using following code in config.txt
arm_freq=1050
gpu_freq=500
core_freq=500
sdram_freq=500
sdram_schmoo=0x02000020
over_voltage=2
sdram_over_voltage=2

[2019-01-14 17:28] philippmeisberger commented on #57
Cannot be reproduce on my Debian 9 64-bit using ZFM-60 with PL2303 USB-TTL converter:
[code]

[2019-01-14 17:37] philippmeisberger commented on #52
@TehseenHasan Maybe FT232 and some CH340 do not support 960000 baud since this is extremly high... Regarding the documentation the maximum baudrate of R307 is 115200. I suggest using this documented baudrate.

IMHO this is not an issue of PyFingerprint ;)

[2019-01-14 18:19] TehseenHasan commented on #52
FT232 USB to Serial Converter supports up-to **3 Mbaud** (**3145728 bps**) (According to FT232 documentation). And CH340 supports up to **2000000 bps** (**~2 Mbaud**).
So USB to Serial Converter should not be a problem. BTW, its okay to use this library for about 99% typical projects. But sometimes there are advanced requirements like speed image transfer. 🙂

[2019-01-15 01:56] ardawan commented on #57
Yes i am using the same OS, same architecture and same sensor, but some how i won't get any result. I'm gonna buy another model of the sensor and check again.
Thanks for confirming

[2019-01-20 23:53] anubhaw2091 opened #58 "Can this library be used on MacOs Mojave"
Hey.

I was wondering if this library can be used on MacOs Mojave? I mean what changes should be done on the following line?

`f = PyFingerprint('/dev/ttyUSB0', 57600, 0xFFFFFFFF, 0x00000000)`

Thanks

[2019-01-21 03:14] ardawan commented on #57
That is true, i already tested this library on R307 instead of ZFM-60 and this function works perfectly. Thanks for the quick replies.

[2019-01-21 03:14] #57 closed, assigned to nobody

[2019-01-22 01:57] ardawan opened #59 "store data into the sensor in a differnet way - not like issue #42"
i've done the same approach as #42 and it works. But i need to extract the data from the sensor and write into a file on my computer and then import to a new sensor via reading the extracted file/data.
to extract the data i did
[code]
and i got this in my data file
[code]

in the next step i tried to read and convert to bytearray() and then upload to the sensor
[code]

Now i have registered into t

[2019-01-22 02:31] ardawan commented on #59
i found the issue was about my data. i didn't convert it into bytes properly. so after doing it properly, now it works with the same approach.

[2019-01-22 02:31] #59 closed, assigned to nobody

[2019-01-22 08:26] ardawan opened #60 "How to add Notepad data to the sensor"
How to add specific Name/ID (e.g ABC/0001) to each fingerprint while enrolling?

[2019-01-22 09:43] ardawan commented on #58
disconnect your sensor from the USB and do ``` $ ls /dev/ ```
then connect the sensor to the USB and redo ``` $ ls /dev/ ```

if you found any new item in the list, that will be replace with the ```'/dev/ttyUSB0'``` . The rest is all about your sensor.

[2019-01-22 17:08] philippmeisberger commented on #60
The ID is the index you provide in `storeTemplate()`. There is no possibility to store a name for a template on the sensor.

[2019-01-23 01:16] #60 closed, assigned to nobody

[2019-01-31 19:01] TehseenHasan commented on #52
This is a C# program to communicate with R30x Fingerprint sensor with USB protocol... This example downloads scanned fingerprint image from Sensor to our Computer....
https://github.com/TehseenHasan/R305_fingerprint_sensor_usb_interface

Understand the different functions of SynoAPIEx.dll file from this example if you want to use this same as pyFingerprint library...

[2019-02-05 15:53] Schaussi opened #61 "Exporting and importing templates"
Hi,

thank your for writing this library, it's working great.
I am looking for the best way to keep multiple scanners' templates in sync.
In your blog you write it's possible to download and upload all templates.
Unfortunately, I have not found an example how to do this yet.
Could you provide me a how to read/store all templates of/to a scanner?

Thank you,
best regards

[2019-02-06 08:30] philippmeisberger commented on #61
Hi,
please take a look at `example_search.py`: https://github.com/bastianraschke/pyfingerprint/blob/ee4a1b0dab35d0f1590762665974cf24b1d0459c/src/files/examples/example_search.py#L64

`downloadCharacteristics()` downloads a template. To upload the template you need `uploadCharacteristics()`.

Best regards

[2019-02-06 10:33] Schaussi commented on #61
Thank you, that worked perfectly.

[2019-02-06 10:33] #61 closed, assigned to nobody

[2019-02-11 14:33] mefsantos opened #62 "uploadImage implementation"
Since i'm kinda new in community projects and cannot figure out how to send you the code, i'll leave the implementation here. I tested it (not thoroughly though) but it works. I also added the two missing commands for the purpose.

FYI: i'm far from being a pro on programming this close to sensors but i used uploadCharacteristics and downloadImage as references for this code.

`
import numpy
FINGE

[2019-02-11 15:55] philippmeisberger commented on #62
Thanks for that but please create a pull request so that we can merge your changes ;)

[2019-02-11 16:21] mefsantos commented on #62
I figured how to do the pull request. Done already :)

[2019-02-16 09:22] philippmeisberger opened #64 "downloadImage() exception: image index out of range"
If using other packet length than the default **128** the exception "image index out of range" occurs in `downloadImage()`.

Using example_downloadimage.py with packet length **128**:
[code]

After changing sensor packet length to e.g. **256** using `setSystemParameter(6, 3)` and using example_downloadimage.py again:
[code]

This is an exception already reported in #57 and #50 which could initiall

[2019-02-17 12:03] bastianraschke commented on #58
Thanks for your aswer @ardawan, i close the issue.

[2019-02-17 12:03] #58 closed, assigned to nobody

[2019-02-17 12:04] bastianraschke commented on #62
Thanks for your PR @mefsantos, i close the issue and we will review the PR later.

[2019-02-17 12:04] #62 closed, assigned to nobody

[2019-02-22 02:46] Parixit1999 commented on #48
How I increase min accuracy score for the search in Database. Because I get "Not Match Found " error but user already in database.

[2019-02-22 08:44] philippmeisberger commented on #48
@Parixit1999 Please open a new issue with more details.

[2019-02-24 01:35] l0rddarkf0rce opened #68 "uploadImage issues"
Having the following issues when attempting to upload an image to the sensor. I've tried upload as jpg, png, and bmp. all with the same result.

1. Here is the error message I am getting
Traceback (most recent call last):
  File "./authenticate.py", line 74, in <module>
    f.uploadImage(filename)
  File "/usr/lib/python2.7/dist-packages/pyfingerprint/pyfingerprint.py", line 726, in uploadImage

[2019-02-24 21:47] mefsantos commented on #68
Try to pull the most recent version.
The error in 1. points to a line of code prior to a modification where numpy is imported which is how imageArray is obtained.
And avoid using relative paths, try uploadImage(os.path.abspath(filename)) instead - don’t forget to import os.

[2019-02-25 01:10] l0rddarkf0rce commented on #68
thanks will give that a shot

⁣Sent from TypeApp ​

On Feb 24, 2019, 16:47, at 16:47, mefsantos <notifications@github.com> wrote:

[2019-02-25 05:20] l0rddarkf0rce commented on #68
I've tried to pull the code at least 4 times and I keep getting the one that does not have the uploadImage functionality yet.

In any case, got rid of the first error above. Now the problem is when I call convertImage

here is how I am calling it:
   filename = os.getcwd()+"/"+empinfo[0]+empinfo[1]+empinfo[2]+".bmp"
   f.uploadImage(filename)
   f.convertImage(0x01)
   f.storeTemplate(0,0x01)

I h

[2019-02-25 11:15] mefsantos commented on #68
My bad, i thought bastian had already merged. Anyway, the latest version (of uploadImage) is here: https://github.com/bastianraschke/pyfingerprint/tree/167419e64c3cb53f96ea119a34fb383f728a7b63

However, if you get past the error 1. the issue is related with the communication with the sensor. In my case (with ZFM-20), whenever i get that error i usually try:

- confirm that the baud rate is the sen

[2019-02-26 01:34] l0rddarkf0rce commented on #68
I found that after the uploadImage process says that the process finishes the sensor stays in some strange mode that I have not figured out yet. If I want to do anything after that I have to unplug the sensor and reconnect it.  As for connection code I am using the sample code that you guys put together (I just do not believe in reinventing the wheel).

[2019-02-26 14:03] mefsantos commented on #68
What is your setup? are you using a USB TTL converter? If so can it be the drivers? I usually connect the sensor directly to raspberry GPIO, however, i recently acquired a USB TTL converter and sometimes i obtained a message saying the sensor was "Busy" and had to restart the sensor. Since it never happened with the GPIO connection i assume its related with the converter drivers. I used these: htt

[2019-02-26 19:52] l0rddarkf0rce commented on #68
i am using a usb converter (i can post exact model when i get home later tonight) and everything works fine as long as i don't try to upload an image. i can register fp, delwte fp, authenticate against the sensor etc. and no problems.

⁣Sent from TypeApp ​

On Feb 26, 2019, 09:03, at 09:03, mefsantos <notifications@github.com> wrote:

[2019-02-27 11:43] bastianraschke commented on #52
I'll close the issue if no updates coming soon. Okay with that @philippmeisberger?

[2019-02-27 16:50] l0rddarkf0rce commented on #68
Here are the details of the setup...

Raspberry Pi 3 B+

USB to TTL Adapter, USB to Serial Converter for Development Projects - Featuring Genuine FTDI USB UART IC ‘FT232RL’ (https://www.amazon.com/gp/product/B075N82CDL/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1)

Green Light Optical Fingerprint Reader Sensor Module for Arduino Mega2560 UNO R3 (https://www.amazon.com/gp/product/B07551XV2T/ref

[2019-02-27 19:22] mefsantos commented on #68
I was able to reproduce the issue using the converter. Somehow, using GPIO it doesn't happen.
In fact, there were two miss-indented lines, which should not be the cause of this issue.

However, after performing some tests and noticing some corrupted images (last rows) i went back to read the sensor specs where they say only 4 bits of the pixel are transferred (but do not specify if it SHOULD be fo

[2019-02-27 22:21] l0rddarkf0rce commented on #68
No problem, I am glad to see that I was not loosing what little I have left of my mind. I was able to do what I needed without using the image at all. What I am doing now is using the characteristics and going from there. Save my self a step. Also, if you need a guinea pig to test new code, just drop me a line and I'll be happy to test.
Once again, many thanks for all the good work and your help.

[2019-03-01 20:19] #52 closed, assigned to nobody

[2019-03-20 11:18] #64 closed, assigned to philippmeisberger

[2019-03-21 09:19] parthipanssr commented on #52
Hi
I am trying to connect R307 Finger Print sensor to raspberry pi 3 Model B. vai GPIO Pin (5v, Gnd, TX, RX) using the instruction what you are given but I got the following error.please to help me to solve this issue.

SerailPort  /dev/ttyAMA0
Baud Rate 57600

The fingerprint sensor could not be initialized!
Exception message: The received packet do not begin with a valid header!

[2019-03-21 09:24] sharad386 commented on #52
@parthipanssr
To connect fingerprint directly to Serial port of raspberry pi follow this step:
Step-1 sudo nano /boot/config.txt

enable_uart=1

sudo reboot

Step-2 sudo systemctl stop serial-getty@ttyS0.service

Step-3 sudo systemctl disable serial-getty@ttyS0.service

Step-4 sudo nano /boot/cmdline.txt

Remove : console=serial0,115200

Step-5 sudo nano /boot/config.txt

dtoverlay=pi3-miniuart-bt

[2019-03-22 05:50] parthipanssr commented on #52
Thanks for your reply. I tried those steps but still i am getting same error. i using port  /dev/ttyAMA0 ,57600 baud rate. in my program is any changes in that.plz help me to solve this error.

[2019-03-22 06:03] sharad386 commented on #52
@parthipanssr run this commands and check for serial0 and serial1 value where its pointing to tttyAMA0 or ttyS0
cd /dev/
ls -l

[2019-03-22 06:06] sharad386 commented on #52
for this to work your serial0 should be pointing to ttyAMA0 if it is then there is something wrong with your fingerprint hardware or connecting cables.

[2019-03-22 06:22] parthipanssr commented on #52
serial0 pointing ttyAMA0  and serial1 pointing ttyS0. and my fingerprint module works when I am connected USB using TTL-USB converter

[2019-03-22 06:34] sharad386 commented on #52
sudo stty -F /dev/ttyAMA0 57600 <- this is set the baudrate of the serial port try this...
secondly try dmesg | grep tty to check if  ttyAMA0 is assigned properly

[2019-03-22 06:43] parthipanssr commented on #52
i got following response. but same error i got
pi@raspberrypi:~ $ sudo stty -F /dev/ttyAMA0 57600
pi@raspberrypi:~ $ dmesg | grep tty
[    0.000489] console [tty0] enabled
[    0.277066] 3f215040.uart: ttyS0 at MMIO 0x3f215040 (irq = 59, base_baud = 50000000) is a 16550
[    0.831732] 3f201000.uart: ttyAMA0 at MMIO 0x3f201000 (irq = 87, base_baud = 0) is a PL011 rev2
[    1.696007] systemd[1]: Exp

[2019-03-22 06:47] parthipanssr commented on #52
My Python Code is

try:
    f = PyFingerprint('/dev/ttyAMA0', 57600, 0xFFFFFFFF, 0x00000000)

    if ( f.verifyPassword() == False ):
        raise ValueError('The given fingerprint sensor password is wrong!')

except Exception as e:
    print('The fingerprint sensor could not be initialized!')
    print('Exception message: ' + str(e))
    exit(1)

[2019-03-22 08:39] sharad386 commented on #52
"Expecting device dev-ttyAMA0.device..." I guess this is because the hardware is not connected to the raspberry pi 3. I still feel like its a patch cord issue. You can do one thing is a test if Tx and Rx is working in Raspberry pi ..by writing simple serial code and use Ft232 or some other hardware to check if those pins are working fine because I had the same issue and it got sorted using the met

[2019-03-22 08:44] parthipanssr commented on #52
OK I WILL CHECK AND REPLY ..

[2019-04-04 13:59] gitcat555 opened #70 "fingerprint characteristics seem to change inside the reader"
Hey all, I've been working with this library for quite some time now and my understanding of how the reader works is:

- templates (characteristics) are stored internally
- when a finger is scanned, it searches for a match and loads the matching template into the first buffer

(please correct me if I'm wrong!)

Now the problem I am facing is that the template does not quite seem to be exactly the

[2019-04-05 08:31] philippmeisberger commented on #70
Hey @gitcat555 ,
I could not reproduce this behavior. In my case the same hash is generated. Could you provide some code which reproduces the faulty behavior?

[2019-04-05 16:41] gitcat555 commented on #70
Hey @philippmeisberger ,
for a test I have loaded but ONE fingerprint onto the reader and I'm using the example_search.py, code below:

[code]

Then I use the script to scan the finger multiple times:

[code]

As you can see, the hash is sometimes identical and then it's a completely different one. I then did a little modification to the search script to write out the raw characteristics to a file

[2019-04-07 15:36] philippmeisberger commented on #70
Indeed, this is really strange. I still could not reproduce it with ZFM-20:

SHA-2 hash of template: 196c0d73f3997581dbd2231787bffc1f5920ccd8b80828fc1c47b89156913b88

SHA-2 hash of template: 196c0d73f3997581dbd2231787bffc1f5920ccd8b80828fc1c47b89156913b88

SHA-2 hash of template: 196c0d73f3997581dbd2231787bffc1f5920ccd8b80828fc1c47b89156913b88

SHA-2 hash of template: 196c0d73f3997581dbd2231787bff

[2019-04-07 16:34] gitcat555 commented on #70
I also hav a ZFM-20 and sometimes I would get the same hash 10 or even 20 times in a row! However, it is never the same hash of the print I enrolled.

By the way: is it possible to pull the characteristics from the actual template position and skip the step of copying it to charbuffer 1?

[2019-04-08 20:22] philippmeisberger commented on #70
You mean this line?

If you delete this line you would get a different hash as you download the contents of image buffer. The stored template must be downloaded to get the same hash constantly.

[2019-04-08 22:56] gitcat555 commented on #70
So it has to be downloaded to 0x01 before it can be worked with? I just meant, well, if it is possible to work with a template directly at its actual storage position. The library code does not seem to support this, but would it be possible?

[2019-04-13 14:40] philippmeisberger commented on #70
Sure, you can directly access the stored templates. But the reading process (`readImage()`) results just in an image which has to be converted to an template by extracting the fingerprint characteristics (`convertImage()`). The resulting template can then be compared to the stored ones (`searchTemplate()`). That's the normal process. User can be recognized.

The `loadTemplate()` loads a stored tem

[2019-04-14 20:27] jainal09 opened #71 "The received packet do not begin with a valid header! for Raspberry pi 3b +"
Hi, I am using a UART to USB Converter for connecting the fingerprint sensor with my raspberry pi and below is the code which I have changed for my use.

The extra hardware I am using is OLED DISPLAY & 3*4 matrix keypad.
https://gist.github.com/jainal09/db4074a4bd1107cc7f527ee51014855a

I am running example_search.py in such a way that after a successful attempt i am calling the script again throu

[2019-04-15 11:40] JimVanEeden commented on #70
I actually have the exact same problem

[code]

Not sure how to solve this.

[2019-04-16 20:53] jainal09 commented on #71
Hi please help me its kind of like urgent as a whole project is depending on this thing!!

[2019-04-17 12:59] bastianraschke commented on #71
First, why you call the python code via the system command? Why not call direct your function or whatever - this does not make sense for me and adds unnecessary overhead.

It seems, the communication failed: Try to reduce the baudrate and/or use another converter and/or add some delay time after each loop. Also see FAQ #1 on https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspbe

[2019-04-21 20:41] Siddapa opened #72 "example_enroll.py not finding finger"
Once I run the .py file, my fingerprint sensor doesn't sense my finger. I have a FlashTree FMP12 and am aware that it isn't on the list of compatible sensors, but I saw a guide with this same sensor working with this module, Can anyone tell me what's wrong?

[2019-04-22 16:06] philippmeisberger commented on #72
Could you please provide the link to this guide? Do you have a datasheet? Please describe what you want to achieve and what you have tried yet.

[2019-04-23 10:21] gitcat555 commented on #70
At least I'm not the only one. I thought I was going mad at first! So what is the actual problem? Could it be faulty hardware? @philippmeisberger are you absolutely sure your ZFM-20 is ALWAYS producing the same hash? Give it say at least 30 rounds and try placing the finger in a slightly different way so that it will still find a match but normally in my case this causes a different hash to be pro

[2019-04-24 23:47] Siddapa commented on #72
I figured out why it doesn't work. The sensor was built for an Arduino. This means that the raspberrypi can't read the data given by the Arduino. I found the correct GitHub repository for it, but it uses .ino files. Thx anyway

[2019-04-24 23:57] #72 closed, assigned to nobody

[2019-04-29 13:40] r-valle opened #73 "Unable to initialize fingerprint sensor"
Hi I am having some issue using the library when I try to connect a fingerprint sensor with an Arduino One board.

I want to try some examples, but I don't manage to make any of them work correctly. (I have tried the index and enroll examples)

I have tried to switch the green and the white wire, but I get the same error.

The error is the following one: **The received packet do not begin with a v

[2019-05-06 14:09] cjoshi015 commented on #46
I have also encountered this problems

use this pin numbering

1 | 5V | Regulated 5V DC
2 | GND | Common Ground
3 | TXD | Data output - Connect to MCU RX
4 | RXD | Data Input - Connect to MCU TX
5 | TOUCH | Active Low output when there is touch on sensor by finger
6 | 3.3V | Use this wire to give 3.3V to sensor instead of 5V

and also check your jumber cables are connected properly or not majorly

[2019-05-06 14:13] cjoshi015 commented on #1
I have also encountered this problems

use this pin numbering

1 | 5V | Regulated 5V DC
2 | GND | Common Ground
3 | TXD | Data output - Connect to MCU RX
4 | RXD | Data Input - Connect to MCU TX
5 | TOUCH | Active Low output when there is touch on sensor by finger
6 | 3.3V | Use this wire to give 3.3V to sensor instead of 5V

and also check your jumber cables are connected properly or not majorly

[2019-05-11 23:24] rajtan opened #74 "DownloadImage"
In the dev branch https://github.com/bastianraschke/pyfingerprint/blob/5c9bc7a7ee8df1dc3451d227efe3728399b3eb6c/src/files/pyfingerprint/pyfingerprint.py

Lines 839-840 results in error (raised by PIL Image module)

Following lines result in the correct operation.

	(resultImageWidth, resultImageHeight) = resultImage.size

        for y in range(resultImageHeight):
            for x in range(result

[2019-05-14 17:13] bastianraschke commented on #74
Thanks for the issue report. Merged it.

[2019-05-14 17:13] #74 closed, assigned to nobody

[2019-07-19 09:43] KIMDOJUN-YJU opened #76 "where it is stored and what format it is stored in fingerprint"
Hi i am using a fingerprint and one question.
When I register a fingerprint, I want to know where it is stored and what format it is stored. Is there any way I can see it? I'm a beginner, so thank you for the easy explanation!
Thank you!

[2019-07-19 19:28] philippmeisberger commented on #76
Hi. The fingerprint is just an image. When enrolling a finger the sensor extracts the characteristics from the taken image and stores it inside the internal database. Sadly the format is not documented anywhere. What we know: it has a length of 512 bytes.

[2019-07-19 19:30] philippmeisberger commented on #76
I forgot to say: You can download the characteristics by the `downloadCharacteristics()` method. Just take a look at the samples.

[2019-08-08 11:39] AndreasMurk opened #78 "The received packet does not begin with a valid header! Raspberry Pi Zero"
Hi guys!

First of all thank you for your great guide, really appreciate it that you make the effort to accomplish such things.

I have problems whenever I input a valid finger. It initializes correctly but then stuck in a Error message loop: The received packet does not begin with a valid header! I already have tried switching RX and TX, different voltage but didn't help either.

I am using a Ras

[2019-08-14 08:58] AndreasMurk commented on #78
Do you think it depends on my fingerprint model or some code-based failure?
Thank you guys!!

[2019-08-15 17:15] bastianraschke commented on #76
Also it is not an issue, so i close it.

[2019-08-15 17:15] #76 closed, assigned to nobody

[2019-08-15 17:17] bastianraschke commented on #71
I close the issue because of missing information updates.

[2019-08-15 17:17] #71 closed, assigned to nobody

[2019-08-15 17:27] bastianraschke commented on #78
Hi andim202, did you check the FAQ regarding this problem: https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/ ?

On the Amazon picture, the sensor looks exactly like the ZFM-20, but you never can be sure if its a faulty clone of course.

Check if the sensor works with other Raspberry, without converter (directly on RPi, see Update 7). Also you coul

[2019-09-05 12:03] raphaelreme opened #79 "PyFingerprint.searchTemplate missing argument"
Hi,

I just used your lib with another device : r307. It works well, thanks a lot !

But I didn't agree with a small point in the method searchTemplate !

[code]
You use the command Search of the device which is for the r307 :
[code]

In fact I believe that your function should also take the bufferId as a parameter. Here It only searches a match with the 1st buffer. And one could possibly have put

[2019-09-20 09:59] tobitti0 commented on #70
I have the same problem.
The sensor I am using is R302.
Generate a hash of the template stored in the sensor from the template ID obtained when fingerprint collation is performed and compare it with the hash stored in the user list held by the program so that an illegal list etc. is not used Created a program.
However, because the template might change, it did not work as expected.
Will this probl

[2019-09-25 03:08] ShinNics opened #80 "Stop R307 from waiting to scan finger."
Hi,

what function can I use to make the fingerprint sensor stop from waiting an input.?

[2019-09-25 10:07] raphaelreme commented on #80
Hi,
I used this lib recently, with that device. There is no blocking function i believe.

If you want the fingerprint sensor to expect an input you can use the readImage method but this won't block (this will return quickly False if no finger has been detected).

In order to detect a finger you usually do:
[code]

But if you want to have more control, you can put a test inside your while loop

[2019-09-27 01:17] ShinNics commented on #48
Good day,

Can you tell me how you make your separate serial communication? I am stuck at your 2nd error where
 The fingerprint sensor could not be initialized! The fingerprint sensor port COM5 was not found!
Thanks..

[2019-09-27 19:01] TehseenHasan commented on #48
I mean that I tried to communicate using COM5 in a simple Serial Communication program. For example I sent some characters to serial device (e.g. Arduino) attached to COM5. But when I connected the sensor at COM the library did not find the port...
That issue was solved....

[2019-10-22 20:44] philippmeisberger commented on #79
Hi @raphaelreme ,
you are right: It would be handy to change the charbuffer. I will implement your proposal ;)

[2019-10-22 20:48] philippmeisberger commented on #79
@bastianraschke Maybe we could add parameter `positionStart` to change the start position of the search. What do you think?

[2019-10-30 00:30] geokscott opened #82 "Won't run in Virtual Environment"
I have successfully installed and built the code on a Pi and installed the python3-fingerprint 1.5 version.  It runs fine with python 3, but when I try to run it in a python3 virtual environment I get:

 from pyfingerprint.pyfingerprint import PyFingerprint
ModuleNotFoundError: No module named 'pyfingerprint'

[2019-10-31 14:05] philippmeisberger commented on #82
We uploaded the package to PyPi. Please try again with this package.

[2019-10-31 18:15] geokscott commented on #82
Awesome thank you, works great!!!!

[2019-10-31 18:15] #82 closed, assigned to nobody

[2019-10-31 18:50] bastianraschke commented on #79
Hi @raphaelreme and @philippmeisberger, i totally agree with both of your suggestions.

[2019-11-05 16:02] shorabh1991 opened #84 "exception 'error' with message 'unsupported operand type(s) for <<: by 'bytes' and 'int'"
I am using R307 fingerprint module with raspberry-pi 3. when I run the code, after some time I am encounter with following error. Try to resolve it by closing and opening the port but could not success. can you suggest me any solution?

[2019-11-08 08:26] #84 closed, assigned to nobody

[2019-12-13 19:31] yanickrochon opened #87 "Unable to install on Raspberry Pi"
The command : `mk-build-deps -i debian/control` fails with `W: Unable to locate package debian/control`. I have uncommented the `deb-src`, and updated the catalog, but nothing works.

I am seeing others using this on Raspberry Pi's, so it would be nice to have some documentation in the README about this.

[2019-12-13 19:50] yanickrochon commented on #9
This does not help; there is no `/dev/ttyUSB0` after everything.

[2019-12-14 13:38] philippmeisberger commented on #87
Hi. This command must be executed from the `src` directory like documented in the README ;)

[2019-12-30 18:08] SaJJaDAgEnT47 commented on #44
i did this work but still getting the same error (The fingerprint sensor could not be initialized!
Exception message: The received packet do not begin with a valid header!)

please help

[2020-01-02 14:04] ashraful000 opened #88 "how can i upload template to the sensor ?"
what i have to change to upload a template to the sensor so that i can search

[2020-01-02 18:15] philippmeisberger commented on #88
Please see #61

[2020-01-03 08:58] ashraful000 commented on #61
@Schaussi could you explain how you did it. I passed characteristics as an argument in uploadCharacteristics(characteristics) then i called searchTemplate() but this gives me an error "The given charbuffer number is invalid!" @philippmeisberger

[2020-01-03 10:29] philippmeisberger commented on #61
@ashraful000 Remind that `uploadCharacteristics()` takes the char buffer ID (`0x01` or `0x02`) in the first argument

[2020-01-03 13:14] ashraful000 commented on #61
@philippmeisberger Thank you so much.

[2020-01-04 02:08] bayutirto commented on #61
Hi, sorry can you write the code using uploadCharacteristics please? I still don't understand how to use it, I change downloadCharacteristics to uploadCharacteristics but it gives me an error, I already download the template but I don't know how to upload the template to another raspberry pi. Thank you!

Btw, is it possible to enroll the fingerprint template into mysql? I already use someone code

[2020-01-05 05:16] ashraful000 commented on #61
@bayutirto if u want to upload template to the sensor just call the function `uploadCharacteristics(0x01,characteristics)`  , **characteristics** contains the template you want to upload to the sensor

[2020-01-05 05:32] ashraful000 opened #89 "searchTemplate() throwing "communication error" exception"
I am using two R307 sensor, one to use as database(where all the templates are stored) and other to get the scanned fingerprint's template.
i wrote a script named **find.py** which takes the scanned template and upload it to the other sensor so that i can search. So the very first run works just fine but after that no matter how many times i run the script it gives me **"communication error"** eve

[2020-01-05 10:55] bastianraschke commented on #78
I close the issue because it seems to be a hardware issue.

[2020-01-05 10:55] #78 closed, assigned to nobody

[2020-01-05 10:59] bastianraschke commented on #73
You said, you tested the sensor with the Arduino on the pictures and it worked, but not with PyFingerprint? You tested the same methods? Same setup (baud rate, password etc.)? Which library and version did you used for the Arduino test?

[2020-01-05 11:00] bastianraschke commented on #79
@raphaelreme Change is implemented.

[2020-01-05 11:00] #79 closed, assigned to philippmeisberger

[2020-01-05 11:02] bastianraschke commented on #80
You are right @raphaelreme, so i close the issue.

[2020-01-05 11:02] #80 closed, assigned to nobody

[2020-01-05 11:02] bastianraschke commented on #87
I close the issue, because it should be resolved.

[2020-01-05 11:02] #87 closed, assigned to nobody

[2020-01-05 11:03] #88 closed, assigned to nobody

[2020-01-05 11:07] bastianraschke commented on #89
Without code it is hard to get the issue. But it sounds like you do not handle the sensor right and it is in an illegal state to it denies to execute the command.

[2020-01-05 11:51] ashraful000 commented on #89
@bastianraschke I also think i haven't handled it properly as i am just calling few  functions without any sort of understanding.

**Here is the code :**

[code]

[2020-01-05 18:49] r-valle commented on #73
Thank for answering, but I am not working in this project anymore, so you can close this issue.

[2020-01-07 20:47] #73 closed, assigned to nobody

[2020-01-07 20:52] bastianraschke commented on #89
After the upload of the characteristics you need create a template (`storeTemplate`) of them to be able to search for it. This may be the issue.

[2020-01-11 10:09] Jako0815 opened #90 "Problems with the R503 Sensor"
Hello,
I have problems with the R503 Sensor, when i tried to enroll a new finger, the script always says that the 2 fingers do not match. I chanced a few lines of code and it worked fine for me. And I like to share my script, if you have the same problems.
Here is it:

#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
PyFingerprint
Copyright (C) 2015 Bastian Raschke <bastian.raschke@posteo.de>
Al

[2020-01-29 18:01] aidar13 commented on #40
Link not a work anymore. Can you describe in more detail what you did to upload templates to the scanner, or can you provide your code?

[2020-02-08 13:27] kostek443 opened #91 "Cant build package"
I want build package on debian 10.
When i use command `dpkg-buildpackage -uc -us
`
I get this error
`unning install_scripts
   dh_install -O--buildsystem=pybuild
   dh_installdocs -O--buildsystem=pybuild
   dh_sphinxdoc -O--buildsystem=pybuild
dh_sphinxdoc: error: unknown JavaScript code: debian/python-fingerprint-doc/usr/share/doc/python-fingerprint-doc/html/_static/doctools.js
make: *** [debian/

[2020-02-09 09:47] philippmeisberger commented on #91
I cannot reproduce this on my Debian 10. There must be something special with your Debian or we forgot to mention a package dependency. Did you exactly follow the build instructions?

BTW: I am hosting an APT repository with the package: https://www.pm-codeworks.de/pages/apt-repository-en.html

[2020-02-10 17:30] kostek443 commented on #91
I just download your repository , install by pip your library and now it's working.

[2020-02-11 12:07] #91 closed, assigned to nobody

[2020-02-19 10:06] vxander commented on #26
17H：表示残留指纹或两次采集之间手指没有移动过
https://wenku.baidu.com/view/c5c2b2f1da38376baf1faee5.html
Indicates that the finger has not moved between the two acquisitions

[2020-02-26 18:09] ivanbazina opened #92 "uploadCharacteristics function not working properly"
uploadCharacteristics function doesn't work (Exception message: communication error).
I downloaded characteristics of fingerprint with downloadCharacteristics function and stored it on my PC. Then deleted that fingerprint and tried to upload it back.

- I suspect that it is because of data length which is 512 and I am not shure if it should be sent in 2 or 3 separate packages (because maxPackageLe

[2020-02-28 09:20] philippmeisberger commented on #92
Which sensor do you use? Could you provide some of your code?

[2020-02-28 13:01] ivanbazina commented on #92
Snesor is R307.
Code is cloned from this repo on development branch.

Update: After I changed maxPacketSize variable in uploadCharacteristics function to 32 it works. (256 is what I get from module, but after that I overwrite it to 32 and then it works) .

Also I added one more line of code for fixing the packets which have length that is not multiple of 32.

I will create pull request so you can

[2020-02-28 13:12] ivanbazina commented on #92
I just tried to push new branch with my fixes and I don't have permissions to do it.
Do I need to fork repository before or what?

[2020-02-28 13:15] philippmeisberger commented on #92
Sure, you need to fork this repo and create a pull request

[2020-03-02 13:37] ivanbazina commented on #92
I created 2 pull requests:
#93 - I think it should be done anyway
#94 - As I told you, uploading characteristics didn't work for me until I hardcoded maxPacketLength to 32 even it is set to 256 on device.

There is also 1 question in #94 because I am not sure about it - for me it works without that code.

[2020-03-13 10:47] adityadate1997 commented on #40
I want to download and store the template in my server datatabase, I am using NodeMCU and Php with mysql on server side. This function is not provided in the library. Can anybody please guide me on this?

[2020-03-14 09:52] philippmeisberger commented on #40
https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/

[2020-03-31 22:54] derit commented on #89
@bastianraschke i think this case for search and checking store template before save by chr,
 if template is exist if not exist storeTemplate

[2020-03-31 23:13] derit opened #95 "Search by variable"
in this case i need search by chr variable like this

but result is raise Exception('Communication error')

how solutions in this case?

[code]

[2020-04-01 19:33] philippmeisberger commented on #95
Please see #89

[2020-04-02 07:01] chrisb2 commented on #90
This also worked for me with the R503 sensor. Replicated above program here in readable format with a comment on the 2 lines added:
[code]

[2020-04-02 07:09] chrisb2 opened #96 "readPacket function does not handle case were no byte is read"
At [L315](https://github.com/bastianraschke/pyfingerprint/blob/Development/src/files/pyfingerprint/pyfingerprint.py#L315) in the __readPacket() function a check is made that a byte has been received, but the case where it not received is not handled. I believe the code should look like this:
[code]
With the current code, if no byte is read an exception with the following message is raise:

Happy t

[2020-04-19 04:26] snappercayt opened #97 "exit status 2 error"
was installing it on raspberry pi 3 using the steps on the [`pyfingerprint github page`](https://github.com/bastianraschke/pyfingerprint) then at this step

gave the following error

Unknown event name: autodoc-process-docstring
debian/rules:15: recipe for target 'override_dh_auto_build' failed
make[1]: *** [override_dh_auto_build] Error 1
make[1]: Leaving directory '/home/pi/pyfingerprint/src'
de

[2020-04-25 09:32] philippmeisberger commented on #97
It seems that there is a missing dependency... Hard to guess which is missing.
Did you install all the required build dependencies?

[2020-04-25 19:19] snappercayt commented on #97
I did run the commands in the sequence it was given, I hope all the dependencies were Installed like that.
If not then how do I find which ones are missing?

[2020-04-27 03:18] chrisb2 commented on #90
I have been experimenting with this and  believe a better solution is to use "create template" instead of "compare characteristics", this is based on the data sheet which says for "create template":

generate a template which is stored back in both CharBuffer1 and CharBuffer2.

and:

don’t belong to one finger.

So your program would become:
[code]

[2020-04-27 19:18] philippmeisberger commented on #97
OK. Hard to guess which are missing...
Anyway, I am hosting an APT repository which contains pre build PyFingerprint Debian package. Here is the setup how to add it: https://www.pm-codeworks.de/pages/apt-repository-en.html.

After that you can install PyFingerprint by this command: `apt install python3-fingerprint`

[2020-04-27 19:22] philippmeisberger commented on #96
Hi @chrisb2 ,
this could may fix a really annoying bug which we are struggling for years ;) I will create a fix for that!

[2020-04-28 12:34] snappercayt commented on #97
that is interesting thank you so much, that would be helpful for those who want to start it with that

edit 1:
so I tried to add the PM codeworks package but didn't add to the list
I just did `apt install python3-fingerprint` and it added it with some error

edit 2:
my code wasn't working with python3 before, now it works with that too
thanks to @philippmeisberger for the prebuild package

[2020-04-28 12:34] #97 closed, assigned to philippmeisberger

[2020-05-11 08:02] snappercayt opened #99 "Exception message: The received packet do not begin with a valid header!"
Hi,
made some changes to the code to work on Raspberrypi 3b+ on its serial port
changed ttyUSB0 to ttyS0 so now GPIO should be working as the port for the sensor
but this is not working
[code]
I did not change anything else so what should be giving this error?

[2020-05-11 19:57] philippmeisberger commented on #99
Hi,
please see https://sicherheitskritisch.de/2015/03/fingerprint-sensor-fuer-den-raspberry-pi-und-debian-linux-en/, #1 or #71.

[2020-05-12 07:08] snappercayt commented on #99
Thanks! I did check that and what not lol tried to edit the read header function in the PyFingerprint
then went back to the same file, I know its the old one because I removed all the files and installed it again and now I see this
[code]

[2020-06-11 18:52] nguyenhaibien commented on #40
hello!
I'm using RPi3 and R308 sensor to execute example_search.py but it alway return Exception error: Communicate error
and fail at this line:
 characterics = str(f.downloadCharacteristics(0x01)).encode('utf-8')
please help me to fix it :( thank you

[2020-06-12 15:46] philippmeisberger commented on #40
Please see #44

[2020-06-17 17:07] nguyenhaibien commented on #40
Hi!
Many thanks for replying to my comment, I will follow your instructions
(Sorry for the late reply and my English is everage)

Vào Th 6, 12 thg 6, 2020 vào lúc 22:47 Philipp Meisberger <
notifications@github.com> đã viết:

[2020-06-25 20:43] philippmeisberger commented on #96
Should be fixed. Therefore I close this issue.

[2020-06-25 20:43] #96 closed, assigned to philippmeisberger

[2020-07-06 18:02] arashsoftco opened #103 "can be used with r301?"
h try this library with r301t
but got this error:
The received packet do not begin with a valid header!

[2020-07-06 18:12] arashsoftco opened #104 "The received packet do not begin with a valid header!"
got this error while using r301 and rpi
The received packet do not begin with a valid header!
wire is ok

[2020-07-06 20:13] philippmeisberger commented on #103
Hi,
according to this datasheet (https://www.openhacks.com/uploadsproductos/r301t_fingerprint_module_user_manual.pdf) the sensor seems to be compatible with PyFingerprint.

This error is often reported. Please take a look at other issues (especially which are "closed").

[2020-07-06 20:16] philippmeisberger commented on #104
Please see #99 and many other "closed" issues.

[2020-07-06 20:23] philippmeisberger commented on #104
Please see #99 or many other "closed" issues.

[2020-07-16 06:58] arashsoftco opened #105 "the server doesn't work"
Ign:1 http://apt.pm-codeworks.de wheezy InRelease
Hit:2 http://raspbian.raspberrypi.org/raspbian buster InRelease
Get:3 http://archive.raspberrypi.org/debian buster InRelease [32.6 kB]
Err:4 http://apt.pm-codeworks.de wheezy Release
  404  Not Found [IP: 212.172.221.30 80]
Reading package lists... Done
E: The repository 'http://apt.pm-codeworks.de wheezy Release' does not have a Release file.
N: U

[2020-07-16 18:32] philippmeisberger commented on #105
You are trying to get packages for the outdated Debian Wheezy. The APT repository only contains packages for the previous and the current Debian release. At this moment the previous was Stretch and the current is Buster. Hence, what you are trying to do is not possible. Open the `/etc/apt/sources.list.d/pm-codeworks.list` and replace **wheezy** by either **stretch** or **buster**.

[2020-09-20 19:43] erwinyusrizal opened #107 "Download Saved Fingerprint without scanning finger"
Hi @bastianraschke, Is it possible to download the saved image without scanning my finger? for example, if I have the position and the characteristics of saved fingerprint, can I download the image with those 2 data?

Cheers

[2020-09-20 19:46] erwinyusrizal commented on #107
update: I tried to download the saved fingerprint image but the result image is so different if I download image while scanning my finger (based on the download_image.py example file) I can see my fingerprint clearly. Any idea?

Thank you,

[2020-09-21 19:17] philippmeisberger commented on #107
Hi,
this is expected because you may never put the finger at the same position on the sensor.
Kind regards

[2020-09-23 08:29] JulianRueckl opened #108 "Template-Parameter hinzufügen"
Hi @bastianraschke,

verwende deine Library und möchte beim Erstellen eines Fingerprint-Templates einen zusätzlichen Parameter 'id' hinzufügen. Diesen muss ich später durch .loadTemplate oder einer anderen Funktion wieder auslesen können. Kann mir jemand sagen wie ich das machen muss?

LG

[2020-11-02 19:14] KevyVo opened #110 "Imagedownloader problem?"
Hey, my name is Kevin and I would really appreciate any sort of idea and help. I am developing an AWS fingerprint broker using this library for the scanner. I have encountered a problem that is blocking me from developing more code. This is how my logic flows.
1) Check the status of the door (open/close using reed switch)
2) initialize the reader
3. Wait for fingerprint, using a PIR sensor to dete

[2020-11-18 17:32] avian2 opened #111 "Examples sometimes exit with TypeError: 'NoneType' object is not callable"
The following error happens intermittently on my system (Linux). It has also been reported in https://github.com/bastianraschke/pyfingerprint/issues/57#issuecomment-453005626:
[code]

I believe this is caused by the fact that PyFingerprint object calls `serial.close()` from its `__del__` method.

It is generally not safe to close files in `__del__`. If the object is destroyed during interpreter sh

[2020-11-24 19:50] bastianraschke commented on #111
Thanks for your hint. We will check it out for the next release.

[2021-02-06 13:55] kotobukidevelopers opened #112 "Comparing Characteristic"
how to compare the downloaded **characeristic** ?

example:
char1 = [1,2,3,4,5]
char2 = [2,3,4,5]

comapreCharacteristic(char1,char2)

[2021-02-06 14:07] kotobukidevelopers commented on #112
UPDATE:
Got it working using uploadcharacteristic()

[2021-02-22 21:30] kotobukidevelopers opened #113 "searchTemplate ERROR"
I have stumble the error **communication error**
mentioned in #89 the problem is that the thread doesn't explain the whole problem and the exact solution

ok here is the instance

I have registered my fingerprint in **R307** module then save the FINGERPRINT_BUFFER1 characteristic in the database
then I will sync the other R307 with the given fingerprint buffer using the **uploadCharacteristics()**

[2021-02-23 16:03] Hagbard235 opened #114 "RPi4 - not working?"
Hi,

use the pyfingerprint sucessfull on mi Pi3b , just changed to a Pi4 and installed the fingerprint. It works, but stop working after a second... on the Pi3 the scanner runs until a fingerprint is seen? Enrolling is impossible, because the scanner stoped after first scan. Do you have an idea?

[2021-02-24 16:02] kotobukidevelopers commented on #114
I have made it to work
Pre-installation:

	//////////////////////////////////////
	-add enable_uart=1 to /boot/config.txt

	-Original : console=serial0,115200 console=tty1 root=PARTUUID=c35d5ea0-02 rootfstype=ext4 elevator=deadline fsck.repair=yes rootwait quiet splash plymouth.ignore-serial-consoles

	from /boot/firmware/cmdline.txt on Ubuntu and /boot/cmdline.txt on Raspberry Pi OS
	////////////

[2021-04-10 21:10] markusweibofner opened #115 "Possible to use utf-8?"
Awesome library!

Where can i change the character encoding and is it possible to use utf-8? e.g. for German "Umlaute"?

Thank you very much in advance!

[2021-04-10 21:56] #115 closed, assigned to nobody

[2021-04-20 08:34] markusweibofner opened #116 "Switch off LED light"
Hi there, is it possible to control the LED light inside the fingerprint sensor?
Afaik , the library does not (yet) provide any function to do so. However, do you have any idea how this might work?

Is it possible to have the light off, but the fingerprint sensor still recognizes when a finger is been placed on it?

Thanks in advance!

Markus

[2021-04-30 10:22] markusweibofner commented on #116
My problem is that in the morning, the area around the sensor is very bright. So the sensor falsely detects a finger (which it obviously doesn't recognize). My idea is the solve the problem by reducing the sensor-light's brightness?

[2021-05-07 09:23] markusweibofner opened #118 "Possible to reduce sensitivity of fingerprint?"
Is it possible to change the sensitivity of the sensor? When it is bright outside, the sensor assumes that there is an unknown finger on the sensor although it might be just the light.

Is it therefore possible to reduce the sensitivity in some way?

[2021-09-11 21:04] jasonjurotich opened #119 "Could this be used for a as608 arduino?"
Sorry for asking like this, but could this library be use for the as 608 arduino? Thanks.

[2021-09-13 09:51] bastianraschke commented on #119
No, for Arduino you better use the library from Adafruit: https://github.com/adafruit/Adafruit-Fingerprint-Sensor-Library

[2021-09-13 09:51] #119 closed, assigned to nobody

[2021-11-11 08:47] alexander-rieder commented on #70
Sorry for responding to such an "old" issue - but in have the same experience with an R302.

To my understanding, the sensor works as follows when we initiate a search for a fingerprint match:

1. Sensor searches for a match with given characteristic in the templates
2. if it finds a matching template it retrieves the template and updates the template characteristic for a better future matching ex

[2021-11-14 09:42] inayatku commented on #40
I think this issue is resolved . But the information  is a bit scattered. Plz let me know the actual instructions to do so. If possible plz share a sample python code to upload and download fingerprint characteristic from mysql database.  Your help would be much appreciated.

[2022-01-01 03:50] matigarowel commented on #99
I solve this using this command **sudo stty -F /dev/ttyS0 57600**

[2022-02-27 16:11] Hasenko commented on #70
Did you find the way to this problem, if yes, can i get help please ? I have the same problem

[2022-02-28 11:12] alexander-rieder commented on #70
No... not really solved the problem. I haven't found a way to disable the automatic fingerprint "optimization".

What problem are you facing / why is the optimization a problem for you?

[2022-02-28 11:15] Hasenko commented on #70
Cause i want to store it in a sqlite database to be able to use 2 sensors. One to register new finger and the other to compare finger.

[2022-02-28 11:17] alexander-rieder commented on #70
you still can do that. You could for example regularly retrieve the "optimized" fingerprints from the scanner which compares the finger and store it in the database.

[2022-02-28 11:25] Hasenko commented on #70
Ok i will try this. Just in case, is this possible to compare finger with the image. I extract the image then i compare the 2 finger with a library of finger recognition

[2022-02-28 11:45] alexander-rieder commented on #70
In my experience the image extraction is too slow..

[2022-02-28 12:23] Hasenko commented on #70
Hey, i'm back ! I have a question, do you know how can i compare a finger to a characteristics. If i know that, i think i can do it !

[2022-02-28 13:28] Hasenko commented on #70
Nevermind, it work !! Thank you for your help @alexander-rieder !

[2022-08-26 05:48] asifmp opened #120 "uploadCharacteristics issue- unable to match finger with uploaded data."
i want store data in computer and use it in multiple sensors.

to download i used below code:
f.loadTemplate(0, 0x01)
characters = f.downloadCharacteristics(0x01)
w = open('/home/pi/id/id01', 'w')
w.write((str(characters)))
w.close()

to upload:
r = open('/home/pi/id/id01', 'r')
b = bytearray(r.read(), 'utf-8')
f.uploadCharacteristics(0x01, b)
f.storeTemplate(0, 0x01)

the upload and download goes

[2022-08-26 05:50] asifmp commented on #59
how did you rectify?
please post

[2022-08-28 17:34] asifmp commented on #120
issue cleared as the data imported was in tuple so converted it to list then upload went fine

[2022-08-28 17:34] #120 closed, assigned to nobody

[2022-11-03 14:30] r-anish opened #121 "The fingerprint sensor could not be initialized! Exception message: The received packet is no ack packet!"
It was working fine after "The fingerprint sensor could not be initialized! Exception message: The The received packet do not begin with a valid header ! error got fixed but again I am having this error "The fingerprint sensor could not be initialized! Exception message: The received packet is no ack packet!"

[2022-11-25 12:33] Gnanavel76 commented on #52
I want to connect my R307 through USB interface. I soldered the wire as per the diagram and also installed the driver. But when i connect to my PC the driver manager says `Unknown USB Device (Device Descriptor Request Failed)`